diff --git a/github-oauth/pom.xml b/github-oauth/pom.xml
index d8628af..648b86c 100644
--- a/github-oauth/pom.xml
+++ b/github-oauth/pom.xml
@@ -21,7 +21,7 @@ limitations under the License.
   <parent>
     <groupId>com.googlesource.gerrit.plugins.github</groupId>
     <artifactId>github-parent</artifactId>
-    <version>2.9-SNAPSHOT</version>
+    <version>{{ gerrit_release }}</version>
   </parent>
   <artifactId>github-oauth</artifactId>
   <name>Gerrit Code Review - GitHub OAuth login</name>
diff --git a/github-plugin/pom.xml b/github-plugin/pom.xml
index e41077d..8b725d2 100644
--- a/github-plugin/pom.xml
+++ b/github-plugin/pom.xml
@@ -20,7 +20,7 @@ limitations under the License.
   <parent>
     <artifactId>github-parent</artifactId>
     <groupId>com.googlesource.gerrit.plugins.github</groupId>
-    <version>2.9-SNAPSHOT</version>
+    <version>{{ gerrit_release }}</version>
   </parent>
 
   <artifactId>github-plugin</artifactId>
diff --git a/github-plugin/src/main/resources/static/scripts.html b/github-plugin/src/main/resources/static/scripts.html
index 9f73a7c..f7b790d 100644
--- a/github-plugin/src/main/resources/static/scripts.html
+++ b/github-plugin/src/main/resources/static/scripts.html
@@ -4,5 +4,5 @@ for giving a more dynamic UX for the GitHub plugin.
  -->
 <script type='text/javascript' src='js/jquery-1.10.2.min.js'></script>
 <script type='text/javascript' src='js/jquery.cookie.min.js?ver=3.0'></script>
-<script src="js/datatables/jquery.datatables.js"></script>
+<script src="js/datatables/jquery.datatables.min.js"></script>
 <script src="js/underscore-min.js"></script>
diff --git a/pom.xml b/pom.xml
index 1951d74..4455528 100644
--- a/pom.xml
+++ b/pom.xml
@@ -18,7 +18,7 @@ limitations under the License.
   <modelVersion>4.0.0</modelVersion>
   <groupId>com.googlesource.gerrit.plugins.github</groupId>
   <artifactId>github-parent</artifactId>
-  <version>2.9-SNAPSHOT</version>
+  <version>{{ gerrit_release }}</version>
   <name>Gerrit Code Review - GitHub integration</name>
   <url>http://www.gerritforge.com</url>
   <packaging>pom</packaging>
