
{% include "concerns/s3_maintenance.j2" %}
{% include "concerns/static-assets.j2" %}
{% include "concerns/proxy-to-app.j2" %}
{% if blockstore_max_webserver_upload %}
  client_max_body_size {{ blockstore_max_webserver_upload }}M;
{% endif %}
{% if blockstore_nginx_read_timeout %}
    proxy_read_timeout {{ blockstore_nginx_read_timeout }};
{% endif %}
