{% if cms_env_config %}
CMS env variables:
---------------
{{ cms_env_config | to_nice_yaml }}
{% endif %}

{% if cms_auth_config %}
CMS auth variables:
---------------
{{ cms_auth_config | to_nice_yaml }}
{% endif %}