#
# {{ ansible_managed }}
# 
[program:{{ course_discovery_service_name }}]

command={{ course_discovery_home }}/{{ course_discovery_service_name }}.sh
user={{ common_web_user }}
directory={{ course_discovery_code_dir }}
stdout_logfile={{ supervisor_log_dir }}/%(program_name)s-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)s-stderr.log
killasgroup=true
stopasgroup=true
