# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log /dev/log	local0 info
	log /dev/log	local0 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
	#debug
	#quiet
{{ haproxy_extra_global_config }}

defaults
{{ haproxy_default_config }}

{%- for app in haproxy_applications -%}
{{ app }}

{%- endfor -%}
