{{ COMMON_LOG_DIR }}/haproxy/*.log {
		weekly
		missingok
		rotate 7
		compress
		delaycompress
		notifempty
		create 640 root adm
		sharedscripts
		postrotate
		/etc/init.d/haproxy reload > /dev/null
		endscript
}
