# We want to hit the top level queues and any vhost queues
# such as fulfillment
{{ rabbitmq_log_dir }}/*.log {{ rabbitmq_log_dir }}/*/*.log {
  compress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  daily
  rotate 3
  nocreate
}
