# Application Environment
export NOTIFIER_ENV="{{ notifier_env }}"

# email settings independent of transport
export EMAIL_BACKEND="{{ notifier_email_backend }}"
export EMAIL_HOST="{{ notifier_email_host }}"
export EMAIL_PORT="{{ notifer_email_port }}"
export EMAIL_HOST_USER="{{ notifer_email_user }}"
export EMAIL_HOST_PASSWORD="{{ notifier_email_pass }}"
export EMAIL_DOMAIN="{{ notifier_email_domain }}"
export EMAIL_REWRITE_RECIPIENT="{{ notifer_email_rewrite_recipient }}"

# LMS links, images, etc
export LMS_URL_BASE="{{ notifier_lms_url_base }}"
export SECRET_KEY="{{ notifier_lms_secret_key }}"

# Comments Service Endpoint, for digest pulls
export CS_URL_BASE="{{ notifier_comment_service_base }}"
export CS_API_KEY="{{ notifier_comment_service_api_key }}"

# User Service Endpoint, for notification prefs
export US_URL_BASE="{{ notifier_user_service_base }}"
export US_API_KEY="{{ notifier_user_service_api_key }}"

# celery
export BROKER_URL="{{ notifier_celery_broker_url }}"

# have requests use the OS ca certs
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt

# basic auth credentils
export US_HTTP_AUTH_USER="{{ notifier_user_service_http_auth_user }}"
export US_HTTP_AUTH_PASS="{{ notifier_user_service_http_auth_pass }}"
