description "Notifier Service"

start on runlevel [2345]
stop on runlevel [!2345]
setuid {{ notifier_web_user }}

env PID=/var/tmp/notifier_service.pid

chdir {{ notifier_code_dir }}

exec {{ notifier_home }}/src/manage.py runserver	