<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ item.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style media="screen" type="text/css">
          h1, h2{
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            margin-bottom: .3em;
            font-size: 2.0em;
            line-height: 1.25em;
            text-rendering: optimizeLegibility;
            font-weight: bold;
            color: #000000;
          }
          h2 {
            font-size: 1.8em;
            color: #5b5e63;
          }
          p {
            font-family: Georgia,Cambria,"Times New Roman",Times,serif;
            margin: auto;
            margin-bottom: 1em;
            font-weight: 200;
            line-height: 1.4em;
            font-size: 1.1em;
            max-width: 80%;
          }
        </style>
    </head>
    <body>
      <div style="margin: auto; width: 800px; text-align: center; padding:20px 0px 0px 0px;">
        <h1>{{ item.heading }}</h1>
        <img src="{{ item.img}}" alt="">
        <h2>{{ item.title }}</h2>
        <p>{{ item.msg }}
      </div
    </body>
</html>

