<!DOCTYPE html lang="{{ item.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ item.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style media="screen" type="text/css">
          h1 { {{ item.style_h1 }} }
          p-h2 { {{ item.style_p_h2 }} }
          p { {{ item.style_p }} }
        </style>
    </head>
    <body>
      <main style="{{ item.style_div }}">
        <h1>{{ item.heading }}</h1>
        <img src="{{ item.img }}" alt="{{ item.img_alt }}">
        <p class="p-h2">{{ item.title }}</p>
        <p>{{ item.msg }}</p>
      </main>
    </body>
</html>

