# {{ ansible_managed }}
address             = "{{ FLOWER_ADDRESS }}"
port                =  {{ FLOWER_PORT }}
oauth2_key          = "{{ FLOWER_OAUTH2_KEY }}"
oauth2_secret       = "{{ FLOWER_OAUTH2_SECRET }}"
oauth2_redirect_uri = "{{ FLOWER_OAUTH2_REDIRECT }}"
auth                = "{{ FLOWER_AUTH_REGEX }}"
