[program:{{ FLOWER_USER }}]

environment=PATH="{{ flower_deploy_path }}"
user={{ common_web_user }}
command={{ flower_venv_bin }}/celery flower --broker {{ flower_broker }} --conf={{ flower_conf_dir }}/flowerconfig.py
stdout_logfile={{ supervisor_log_dir }}/{{ FLOWER_USER }}-stdout.log
stderr_logfile={{ supervisor_log_dir }}/{{ FLOWER_USER }}-stderr.log
