# {{ ansible_managed }}

{% for name,value in alton_environment.items() -%}
{%- if value -%}
export {{ name }}="{{ value }}"
{% endif %}
{%- endfor %}

export WILL_BOTO_PROFILES="{{ ALTON_AWS_CREDENTIALS|join(';') }}"

