% This file managed by ansible
% keep erlang kernel communcations to a range
[
 {kernel,
  [{inet_dist_listen_min, 65500},
   {inet_dist_listen_max, 65510}
  ]
 },
 {rabbit, [
    {% if enable_ha %}
       {cluster_nodes, {[
         {% for svr in groups[ha_group_tag] %}
           'rabbit@{{hostvars[svr]['ansible_hostname']}}'{% if loop.index != loop.length %},{% endif %}
         {% endfor %}
       ], 'disk'}}
    {% endif %} 
 ]},
  % Configure the Stomp Plugin listening port
 {rabbitmq_stomp, [{tcp_listeners, [${rabbitmq_stomp_port}]} ]}
].
