{# Get the list of hosts that are in the same stack as the current machine
   and also a rabbitmq machine.
#}

{%- if RABBITMQ_CLUSTERED -%}
{%- set hosts= [] -%}
{%- set all_rabbit_hosts = [] -%}
{%- do all_rabbit_hosts.extend(groups.tag_role_rabbitmq) -%}
{%- do all_rabbit_hosts.extend(groups.tag_group_rabbitmq) -%}
{%- for name in  group_names -%}
  {%- if name.startswith(rabbitmq_aws_stack_name) -%}
    {%- for host in all_rabbit_hosts -%}
      {%- if host in groups[name] -%}
        {% do hosts.append("rabbit@ip-" + host.replace('.','-')) %}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

[{rabbit,
  [{cluster_nodes, {['{{ hosts|join("\',\'") }}'], disc}}]}].

{%- else -%}
{# If rabbitmq_clustered_hosts is set, use that instead assuming an aws stack.
   Note: That these names should include the node name prefix. eg. 'rabbit@hostname'
#}
[{rabbit,
  [{cluster_nodes, {['{{ rabbitmq_clustered_hosts|join("\',\'") }}'], disc}}]}].

{%- endif -%}
