# gunicorn

description "gunicorn server"
author "Calen Pennington <cpennington@mitx.mit.edu>"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 3 30

env PID=/var/tmp/lms.pid
#env NEW_RELIC_CONFIG_FILE=${app_base_dir}/opt/wwc/newrelic.ini
#env NEWRELIC=${app_base_dir}/bin/newrelic-admin
env WORKERS=1
env PORT=8000
env LANG=en_US.UTF-8
env DJANGO_SETTINGS_MODULE=lms.envs.aws
env SERVICE_VARIANT="lms"


chdir ${app_base_dir}/mitx
setuid www-data

exec ${venv_dir}/bin/gunicorn --preload -b 127.0.0.1:$PORT -w $WORKERS --timeout=300 --pythonpath=${app_base_dir}/mitx lms.wsgi

post-start script
  while true
  do
    if $(curl -s -i localhost:$PORT/heartbeat | egrep -q '200 OK'); then
      break;
    else
      sleep 1;
    fi
  done
end script

