#!/bin/bash

source {{ forum_app_dir }}/forum_env
cd {{ forum_code_dir }}

{% if devstack %}
{{ forum_rbenv_shims }}/ruby app.rb
{% elif FORUM_USE_TCP %}
{{ forum_binstubs_dir }}/unicorn -c config/unicorn_tcp.rb
{% else %}
{{ forum_binstubs_dir }}/unicorn -c config/unicorn.rb
{% endif %}
