{% if NGINX_DJANGO_ADMIN_ACCESS_CIDRS and EDX_DJANGO_SERVICE_ENABLE_DJANGO_ADMIN_RESTRICTION %}
  location /admin {
    {% for cidr in NGINX_DJANGO_ADMIN_ACCESS_CIDRS %}
      allow {{ cidr }};
    {% endfor %}
      deny all;
      try_files $uri @proxy_to_app;
  }
{% endif %}
