user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
        worker_connections 768;
        # multi_accept on;
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        {% if NGINX_OVERRIDE_DEFAULT_MAP_HASH_SIZE %}
        map_hash_max_size {{ NGINX_MAP_HASH_MAX_SIZE }};
        map_hash_bucket_size {{ NGINX_MAP_HASH_BUCKET_SIZE }};
        {% endif %}
        # increase header buffer for for https://edx-wiki.atlassian.net/browse/LMS-467&gt
        # see http://orensol.com/2009/01/18/nginx-and-weird-400-bad-request-responses/
        large_client_header_buffers 4 16k;
        server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # Logging Settings
        ##

        log_format p_combined '$http_x_forwarded_for - $remote_addr - $remote_user $http_x_forwarded_proto [$time_local]  '
                            '"$request" $status $body_bytes_sent $request_time '
                            '"$http_referer" "$http_user_agent"';

        log_format ssl_combined '$remote_addr - $ssl_client_s_dn - "$upstream_addr" [$time_local]  '
                                '"$request" $status $body_bytes_sent $request_time '
                                '"$http_referer" "$http_user_agent"';

        log_format app_metrics 'time=$time_iso8601 client=$remote_addr method=$request_method request="$request" '
                               'request_length=$request_length status=$status bytes_sent=$bytes_sent body_bytes_sent=$body_bytes_sent '
                               'referer=$http_referer user_agent="$http_user_agent" upstream_addr=$upstream_addr upstream_status=$upstream_status '
                               'request_time=$request_time request_id=$request_id upstream_response_time=$upstream_response_time '
                               'upstream_connect_time=$upstream_connect_time upstream_header_time=$upstream_header_time';

        access_log {{ nginx_log_dir }}/access.log {{ NGINX_LOG_FORMAT_NAME }};
        error_log {{ nginx_log_dir }}/error.log;

        ##
        # SSL/TLS settings
        ##

        ssl_protocols {{ NGINX_SSL_PROTOCOLS }};
        ssl_ciphers {{ NGINX_SSL_CIPHERS }};
        ssl_prefer_server_ciphers on;
        ssl_dhparam {{ NGINX_DH_PARAMS_PATH }};


        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_disable "msie6";

        gzip_vary on;
        gzip_proxied any;
        gzip_comp_level 6;
        gzip_buffers 16 8k;
        gzip_http_version 1.1;
        gzip_types text/plain text/css text/xml application/xml application/xml+rss image/svg+xml application/json application/javascript application/x-javascript text/javascript;

        ##
        # Virtual Host Configs
        ##

        include {{ nginx_conf_dir }}/*.conf;
        include {{ nginx_sites_enabled_dir }}/*;
}

