#jinja2:trim_blocks: False
{# Have to disable trim blocks or else fi at end of file is not on it's own line #}
#!/bin/bash

# Reload Studio gunicorn if this machine has the Studio frontend
if [ -e '/edx/app/supervisor/conf.d/cms.conf' ]; then
  /edx/bin/supervisorctl signal HUP cms
fi

# Reload Studio workers if this machine has workers
if [ -e '/edx/app/supervisor/conf.d/workers.conf' ]; then
    /edx/bin/supervisorctl signal HUP {% for w in edxapp_workers %}{% if w.service_variant == 'cms' %}edxapp_worker:{{ w.service_variant }}_{{ w.queue }}_{{ w.concurrency }}{% if not loop.last %} {% endif %}{% endif %}{% endfor %}
fi
