#!/usr/bin/env bash

# Change permissions on the X11 session cookie
# so application users can use the same X11 session.
# This is very insecure and should *only* be used for local VMs.
if [ -f {{ localdev_xauthority }} ]; then
    chmod og+r {{ localdev_xauthority }}
fi
