---
# {{ ansible_managed }}

{% if edx_service_config_filter_nones -%}
  {% for key, value in edx_service_config.copy().items() -%}
    {% if value is none -%}
      {% do edx_service_config.pop(key) %}
    {%- endif %}
  {%- endfor %}
{%- endif %}

{{ edx_service_config | to_nice_yaml }}
