*.swp
*.pyc
.idea/
.vagrant
\#*\#
*~
.#*

vagrant/*/*/edx-platform
vagrant/*/*/cs_comments_service
vagrant/*/*/ora
vagrant/*/*/analytics_api
vagrant/*/*/insights
vagrant/*/*/ecommerce
vagrant/*/*/programs
vagrant_ansible_inventory_default

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Appsembler specific
playbooks/appsemblerPlaybooks/inventory.ini
playbooks/appsemblerPlaybooks/db-vars.yml
playbooks/appsemblerPlaybooks/server-vars.yml
playbooks/roles/nginx/templates/edx/app/nginx/sites-available/extra_locations*
playbooks/roles/nginx/templates/edx/app/nginx/sites-available/extra_http*
playbooks/roles/nginx/templates/edx/app/nginx/sites-available/static-files-extra.j2

