*.swp
*.pyc
.idea/
.vagrant
\#*\#
*~
.#*

vagrant/*/devstack/edx-platform
vagrant/*/devstack/cs_comments_service
vagrant/*/devstack/ora
vagrant_ansible_inventory_default

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#
