git+https://github.com/edx/ansible.git@stable-1.9.3-rc1-edx#egg=ansible==1.9.3-edx
PyYAML==3.11
Jinja2==2.7.3
MarkupSafe==0.23
boto==2.32.1
ecdsa==0.11
paramiko==1.15.1
pycrypto==2.6.1
wsgiref==0.1.2
docopt==0.6.1
python-simple-hipchat==0.2
prettytable==0.7.2
awscli==1.4.2
requests
# Needed for the mongo_status module(playbooks/library/mongo_status)
pymongo==3.1

# Needed for the mysql_db module
MySQL-python==1.2.5
