"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html

{{ ansible_managed }}
"""
import multiprocessing

preload_app = True
timeout = 10
bind = "{{ gitreload_gunicorn_host }}:{{ gitreload_gunicorn_port }}"

workers = {{ gitreload_gunicorn_workers }}

{{ GITRELOAD_GUNICORN_EXTRA_CONF }}
