#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ credentials_home }}/credentials_env
COMMAND=$1

case $COMMAND in
    start)
        {% set credentials_venv_bin = credentials_home + "/venvs/" + credentials_service_name + "/bin" %}
        {% set executable = credentials_venv_bin + '/gunicorn' %}

        cd /edx/app/edx_ansible/edx_ansible/docker/plays
        sudo /edx/app/edx_ansible/venvs/edx_ansible/bin/ansible-playbook credentials.yml -c local -i '127.0.0.1,' \
            -t 'install:app-requirements,assets:gather,devstack,migrate' \
            --extra-vars="migrate_db=yes" \
            --extra-vars="@/ansible_overrides.yml"

        {{ executable }} -c {{ credentials_home }}/credentials_gunicorn.py \
                                 {{ CREDENTIALS_GUNICORN_EXTRA }} \
                                 --reload \
                                 credentials.wsgi:application

        ;;
    open)
        cd {{ credentials_code_dir }}/
        . {{ credentials_venv_bin }}/activate
        /bin/bash
        ;;
esac
