#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ veda_pipeline_worker_home }}/{{ veda_pipeline_worker_service_name }}_env
{{ COMMON_BIN_DIR }}/python.{{ veda_pipeline_worker_service_name }} {{ veda_pipeline_worker_home }}/{{ veda_pipeline_worker_service_name }}/bin/{{ item }}
