#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ veda_pipeline_worker_home }}/{{ veda_pipeline_worker_service_name }}_env
{{ veda_pipeline_worker_venv_bin }}/python {{ veda_pipeline_worker_home }}/{{ veda_pipeline_worker_service_name }}/bin/{{ item }}
