import com.netflix.asgard.model.HardwareProfile
import com.netflix.asgard.model.InstanceTypeData

grails {
        awsAccounts=['{{ HOTG_ACCOUNT_ID }}']
        awsAccountNames=['{{ HOTG_ACCOUNT_ID  }}':'{{ HOTG_ACCOUNT_NAME }}']
        serverUrl='{{ HOTG_URL }}'
}

secret {
        accessId='{{ HOTG_AWS_ACCESS_ID }}'
        secretKey='{{ HOTG_AWS_SECRET_KEY }}'
}

cloud {
        accountName='{{ HOTG_ACCOUNT_NAME }}'
        publicResourceAccounts=['amazon']
                customInstanceTypes = [
                new InstanceTypeData(linuxOnDemandPrice: 0.085, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.large',
                                family: 'Compute Optimized', group: 'c5',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '8',
                                mem: '4.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 0.170, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.xlarge',
                                family: 'Compute Optimized', group: 'c5',
                                size: 'Extra Large', arch: '64-bit', vCpu: '4', ecu: '16',
                                mem: '8.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 0.340, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.2xlarge',
                                family: 'Compute Optimized', group: 'c5',
                                size: 'Double Extra Large', arch: '64-bit', vCpu: '8', ecu: '31',
                                mem: '16.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 0.680, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.4xlarge',
                                family: 'Compute Optimized', group: 'c5',
                                size: 'Quadruple Extra Large', arch: '64-bit', vCpu: '16', ecu: '62',
                                mem: '32.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 1.530, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.9xlarge',
                                family: 'Compute Optimized', group: 'c5',
                                size: 'Nine Extra Large', arch: '64-bit', vCpu: '36', ecu: '132',
                                mem: '72.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 3.060, hardwareProfile:
                        new HardwareProfile(instanceType: 'c5.18xlarge',
                                family: 'Compute Optimized', group: 'c5',
                                size: '18 Extra Large', arch: '64-bit', vCpu: '72', ecu: '264',
                                mem: '144.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '25 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.126, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.large',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '8',
                                mem: '16.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 0.252, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.xlarge',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Extra Large', arch: '64-bit', vCpu: '4', ecu: '16',
                                mem: '32.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 0.504, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.2xlarge',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Double Extra Large', arch: '64-bit', vCpu: '8', ecu: '31',
                                mem: '64.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 1.008, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.4xlarge',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Quadruple Extra Large', arch: '64-bit', vCpu: '16', ecu: '62',
                                mem: '128.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Up to 10 Gbps')),
                new InstanceTypeData(linuxOnDemandPrice: 3.024, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.12xlarge',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Eight Extra Large', arch: '64-bit', vCpu: '36', ecu: '132',
                                mem: '384.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 6.048, hardwareProfile:
                        new HardwareProfile(instanceType: 'r5.24xlarge',
                                family: 'Memory Optimized', group: 'r5',
                                size: 'Eight Extra Large', arch: '64-bit', vCpu: '72', ecu: '264',
                                mem: '768.0', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '25 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.096, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.large',
                                family: 'General Purpose', group: 'm5',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '6.5',
                                mem: '8.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Moderate')),
                new InstanceTypeData(linuxOnDemandPrice: 0.192, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.xlarge',
                                family: 'General Purpose', group: 'm5',
                                size: 'Extra Large', arch: '64-bit', vCpu: '4', ecu: '13',
                                mem: '16.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.384, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.2xlarge',
                                family: 'General Purpose', group: 'm5',
                                size: 'Double Extra Large', arch: '64-bit', vCpu: '8', ecu: '26',
                                mem: '32.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.768, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.4xlarge',
                                family: 'General Purpose', group: 'm5',
                                size: 'Quadruple Extra Large', arch: '64-bit', vCpu: '16', ecu: '53.5',
                                mem: '64.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 2.304, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.12xlarge',
                                family: 'General Purpose', group: 'm5',
                                size: '12 Extra Large', arch: '64-bit', vCpu: '48', ecu: '124.5',
                                mem: '192.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 4.608, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5.24xlarge',
                                family: 'General Purpose', group: 'm5',
                                size: '24 Extra Large', arch: '64-bit', vCpu: '96', ecu: '124.5',
                                mem: '384.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.006, hardwareProfile:
                        new HardwareProfile(instanceType: 't2.nano',
                                family: 'Burstable', group: 't2',
                                size: 'Nano', arch: '64-bit', vCpu: '1', ecu: '1',
                                mem: '0.50', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '?')),
                new InstanceTypeData(linuxOnDemandPrice: 0.013, hardwareProfile:
                        new HardwareProfile(instanceType: 't2.micro',
                                family: 'Burstable', group: 't2',
                                size: 'Micro', arch: '64-bit', vCpu: '1', ecu: '1',
                                mem: '1.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '?')),
                new InstanceTypeData(linuxOnDemandPrice: 0.026, hardwareProfile:
                        new HardwareProfile(instanceType: 't2.small',
                                family: 'Burstable', group: 't2',
                                size: 'Small', arch: '64-bit', vCpu: '1', ecu: '1',
                                mem: '2.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '?')),
                new InstanceTypeData(linuxOnDemandPrice: 0.052, hardwareProfile:
                        new HardwareProfile(instanceType: 't2.medium',
                                family: 'Burstable', group: 't2',
                                size: 'Medium', arch: '64-bit', vCpu: '2', ecu: '3',
                                mem: '4.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '?')),
                new InstanceTypeData(linuxOnDemandPrice: 0.052, hardwareProfile:
                        new HardwareProfile(instanceType: 't2.large',
                                family: 'Burstable', group: 't2',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '6',
                                mem: '4.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '?')),
                new InstanceTypeData(linuxOnDemandPrice: 0.120, hardwareProfile:
                        new HardwareProfile(instanceType: 'm4.large',
                                family: 'General Purpose', group: 'm4',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '6.5',
                                mem: '8.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Moderate')),
                new InstanceTypeData(linuxOnDemandPrice: 0.239, hardwareProfile:
                        new HardwareProfile(instanceType: 'm4.xlarge',
                                family: 'General Purpose', group: 'm4',
                                size: 'Extra Large', arch: '64-bit', vCpu: '4', ecu: '13',
                                mem: '16.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.479, hardwareProfile:
                        new HardwareProfile(instanceType: 'm4.2xlarge',
                                family: 'General Purpose', group: 'm4',
                                size: 'Double Extra Large', arch: '64-bit', vCpu: '8', ecu: '26',
                                mem: '32.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.958, hardwareProfile:
                        new HardwareProfile(instanceType: 'm4.4xlarge',
                                family: 'General Purpose', group: 'm4',
                                size: 'Quadruple Extra Large', arch: '64-bit', vCpu: '16', ecu: '53.5',
                                mem: '64.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 2.394, hardwareProfile:
                        new HardwareProfile(instanceType: 'm4.10xlarge',
                                family: 'General Purpose', group: 'm4',
                                size: 'Deca Extra Large', arch: '64-bit', vCpu: '40', ecu: '124.5',
                                mem: '160.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.105, hardwareProfile:
                        new HardwareProfile(instanceType: 'c4.large',
                                family: 'Compute Optimized', group: 'c4',
                                size: 'Large', arch: '64-bit', vCpu: '2', ecu: '8',
                                mem: '3.75', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'Moderate')),
                new InstanceTypeData(linuxOnDemandPrice: 0.209, hardwareProfile:
                        new HardwareProfile(instanceType: 'c4.xlarge',
                                family: 'Compute Optimized', group: 'c4',
                                size: 'Extra Large', arch: '64-bit', vCpu: '4', ecu: '16',
                                mem: '7.5', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.419, hardwareProfile:
                        new HardwareProfile(instanceType: 'c4.2xlarge',
                                family: 'Compute Optimized', group: 'c4',
                                size: 'Double Extra Large', arch: '64-bit', vCpu: '8', ecu: '31',
                                mem: '15.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 0.838, hardwareProfile:
                        new HardwareProfile(instanceType: 'c4.4xlarge',
                                family: 'Compute Optimized', group: 'c4',
                                size: 'Quadruple Extra Large', arch: '64-bit', vCpu: '16', ecu: '62',
                                mem: '30.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: 'High')),
                new InstanceTypeData(linuxOnDemandPrice: 1.675, hardwareProfile:
                        new HardwareProfile(instanceType: 'c4.8xlarge',
                                family: 'Compute Optimized', group: 'c4',
                                size: 'Eight Extra Large', arch: '64-bit', vCpu: '36', ecu: '132',
                                mem: '60.00', storage: 'EBS only', ebsOptim: '-',
                                netPerf: '10 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.004700, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.nano',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.nano', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '0.50', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.075200, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.micro',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.micro', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '1.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.018800, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.small',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.small', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '2.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.037600, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.medium',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.medium', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '4.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.075200, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.large',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.large', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '8.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.150400, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.xlarge', arch: '64-bit', vCpu: '4', ecu: 'n/a',
                                mem: '16.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.300800, hardwareProfile:
                        new HardwareProfile(instanceType: 't3a.2xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 't3a.2xlarge', arch: '64-bit', vCpu: '8', ecu: 'n/a',
                                mem: '32.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.300800, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.large',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.large', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '8.0', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.172000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.xlarge', arch: '64-bit', vCpu: '4', ecu: 'n/a',
                                mem: '16.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.344000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.2xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.2xlarge', arch: '64-bit', vCpu: '8', ecu: 'n/a',
                                mem: '32.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.688000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.4xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.4xlarge', arch: '64-bit', vCpu: '16', ecu: 'n/a',
                                mem: '64.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 2.064000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.12xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.12xlarge', arch: '64-bit', vCpu: '48', ecu: 'n/a',
                                mem: '192.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 4.128000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5a.24xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5a.24xlarge', arch: '64-bit', vCpu: '96', ecu: 'n/a',
                                mem: '384.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.103000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.large',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.large', arch: '64-bit', vCpu: '2', ecu: 'n/a',
                                mem: '8.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.206000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.xlarge', arch: '64-bit', vCpu: '4', ecu: 'n/a',
                                mem: '16.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.412000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.2xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.2xlarge', arch: '64-bit', vCpu: '8', ecu: 'n/a',
                                mem: '32.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 0.824000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.4xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.4xlarge', arch: '64-bit', vCpu: '16', ecu: 'n/a',
                                mem: '64.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 2.472000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.12xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.12xlarge', arch: '64-bit', vCpu: '48', ecu: 'n/a',
                                mem: '192.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                new InstanceTypeData(linuxOnDemandPrice: 4.944000, hardwareProfile:
                        new HardwareProfile(instanceType: 'm5ad.24xlarge',
                                family: 'General Purpose', group: 't3a',
                                size: 'm5ad.24xlarge', arch: '64-bit', vCpu: '96', ecu: 'n/a',
                                mem: '384.00', storage: 'EBS only', ebsOptim: 'Y',
                                netPerf: 'Up to 5 Gigabit')),
                {% for instance_type, profile in HOTG_ADDITIONAL_INSTANCE_TYPES.iteritems() %}

                new InstanceTypeData(linuxOnDemandPrice: {{ profile.price }}, hardwareProfile:
                        new HardwareProfile(
                                instanceType: '{{ instance_type }}',
                                family: '{{ profile.family | default("?") }}',
                                group: '{{ profile.group | default("?") }}',
                                size: '{{ instance_type }}',
                                arch: '{{ profile.arch | default("64-bit") }}',
                                vCpu: '{{ profile.vCpu | default("?") }}',
                                ecu: '{{ profile.ecu | default("?") }}',
                                mem: '{{ profile.mem | default("?") }}',
                                storage: '{{ profile.storage | default("EBS only") }}',
                                ebsOptim: '{{ profile.ebsOptim | default("?") }}',
                                netPerf: '{{ profile.netPerf | default("?") }}'
                 )),
                {% endfor %}
        ]
}

cluster {
    maxGroups = {{ HOTG_MAX_GROUPS }}
}

security {
	apiToken {
		enabled = {{ HOTG_APITOKEN_ENABLED }}
		encryptionKeys = [ '{{ HOTG_APITOKEN_ENCRYPTION_KEYS |join("\',\'") }}' ]
	}
}

plugin {
    authenticationProvider = '{{ HOTG_AUTHENTICATION_PROVIDER }}'
}

oauth {
    providers {
      github {
        api = com.netflix.asgard.auth.GitHubApi
      	key = '{{ HOTG_GITHUB_OAUTH_KEY }}'
      	secret = '{{ HOTG_GITHUB_OAUTH_SECRET }}'
      	scope = '{{ hotg_github_oauth_scope }}'
      	callback = '{{ HOTG_CALLBACK_URI }}'
      	successUri = '{{ HOTG_SUCCESS_URI }}'
      	   extraArgs {
	     emailRegex = {{ HOTG_GITHUB_EMAIL_REGEX }}
	     teamRegex = {{ HOTG_GITHUB_TEAM_REGEX }}
	     org = '{{ HOTG_GITHUB_ORG }}'
	     orgId = '{{ HOTG_GITHUB_ORG_ID }}'
           }
      }
    }
  }

email {
        userEnabled = true
        systemEnabled = true
        smtpHost = '{{ HOTG_SMTP_HOST }}'
        smtpPort = {{ HOTG_SMTP_PORT }}
        smtpUsername = '{{ HOTG_AWS_ACCESS_ID }}'
        smtpPassword = '{{ HOTG_AWS_SECRET_KEY }}'
        smtpSslEnabled = true
        fromAddress = '{{ HOTG_EMAIL_FROM_ADDRESS }}'
        systemEmailAddress = '{{ HOTG_EMAIL_FROM_ADDRESS }}'
        errorSubjectStart = 'Hammer Error: '
}

{% if NEWRELIC_API_KEY is defined and NEWRELIC_ACCOUNT_ID is defined %}
newrelic {
        apiKey = '{{ NEWRELIC_API_KEY }}'
        accountId = '{{ NEWRELIC_ACCOUNT_ID }}'
}
{% endif %}
