diff --git a/pom.xml b/pom.xml
index 20c90d9..df7f04c 100644
--- a/pom.xml
+++ b/pom.xml
@@ -26,7 +26,7 @@ limitations under the License.
 
   <properties>
     <Gerrit-ApiType>plugin</Gerrit-ApiType>
-    <Gerrit-ApiVersion>2.8-SNAPSHOT</Gerrit-ApiVersion>
+    <Gerrit-ApiVersion>{{ gerrit_release }}</Gerrit-ApiVersion>
   </properties>
 
   <build>
