{% if SANDBOX_USERNAME is defined %}
{% set server_name = SANDBOX_USERNAME + '-nginx-503' %}
{% else %}
{% set server_name = COMMON_ENVIRONMENT|default('unknown-env') + '-' + COMMON_DEPLOYMENT|default('unknown-deployment') + '-nginx-503' + '-HOSTNAME' %}
{% endif %}

  {{ server_name }}:
    # Full path to the the log file
    log_path: {{ nginx_log_dir|default('/edx/var/log/nginx') }}/error.log
    # Returns the number of matches for this term. Use Linux Regex formatting.
    term: "limiting requests"
    # Provide any options to pass to grep when running.
    # For example, to count non-matching lines, enter 'v'.
    # Use the abbreviated format ('v' and not 'invert-match').
    grep_options:
