{% if SANDBOX_USERNAME is defined %}
{% set server_name = SANDBOX_USERNAME + '-xqueue-errors' %}
{% else %}
{% set server_name = COMMON_ENVIRONMENT|default('unknown-env') + '-' + COMMON_DEPLOYMENT|default('unknown-deployment') + '-xqueue-errors' + '-HOSTNAME' %}
{% endif %}

  {{ server_name }}:
    # Full path to the the log file
    log_path: {{ COMMON_LOG_DIR|default('/edx/var/log') }}/xqueue/edx.log
    # Returns the number of matches for this term. Use Linux Regex formatting.
    term: " ERROR "
    # Provide any options to pass to grep when running.
    # For example, to count non-matching lines, enter 'v'.
    # Use the abbreviated format ('v' and not 'invert-match').
    grep_options:
