// Add super user
conn = new Mongo();
db = conn.getDB("admin");
db.auth( '{{ MONGO_USER_SUPER }}', '{{ MONGO_PASSWORD_SUPER }}');

if(db.getUser('{{ MONGO_USER_SUPER }}') == null) {
    db.createUser(
        {
            "user": "{{ MONGO_USER_SUPER }}",
            "pwd": "{{ MONGO_PASSWORD_SUPER }}",
            "roles": ["root"]
        }
    );
} else {
    db.updateUser(
        "{{ MONGO_USER_SUPER }}",
        {
            "pwd": "{{ MONGO_PASSWORD_SUPER }}",
            "roles": ["root"]
        }
    );
}

