// Add super user
conn = new Mongo();
db = conn.getDB("admin");
db.createUser(
    {
        "user": "{{ MONGO_ADMIN_USER }}",
        "pwd": "{{ MONGO_ADMIN_PASSWORD }}",
        "roles": ["root"]
    }
);


