
{% include "concerns/s3_maintenance.j2" %}
{% include "concerns/static-assets.j2" %}
{% include "concerns/proxy-to-app.j2" %}
{% if edx_django_service_with_rendered_config_max_webserver_upload %}
  client_max_body_size {{ edx_django_service_with_rendered_config_max_webserver_upload }}M;
{% endif %}
{% if edx_django_service_with_rendered_config_nginx_read_timeout %}
    proxy_read_timeout {{ edx_django_service_with_rendered_config_nginx_read_timeout }};
{% endif %}
