# If you are changing this be warned that it lives in multiple places
# there is a TLS redirect to same box, and a TLS redirect to externally terminated TLS
# version of this in nginx and in edx_django_service_with_rendered_config role.

{% if NGINX_ALLOW_PRIVATE_IP_ACCESS %}
# This regexp matches only public IP addresses.
if ($host ~ "(\d+)(?<!10)\.(\d+)(?<!192\.168)(?<!172\.(1[6-9]|2\d|3[0-1]))\.(\d+)\.(\d+)") {
{% else %}
if ($host ~ "\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}") { 
{% endif %}
  	return 403;
} 
