upstream {{ edx_django_service_with_rendered_config_service_name }}_app_server {
{% for host in nginx_edx_django_service_with_rendered_config_gunicorn_hosts %}
    server {{ host }}:{{ edx_django_service_with_rendered_config_gunicorn_port }} fail_timeout=0;
{% endfor %}
}
