#!/usr/bin/env bash

# {{ ansible_managed }}

{% set registrar_venv_bin = registrar_venv_dir + "/bin" %}
source {{ registrar_app_dir }}/registrar_env
{% if COMMON_ENABLE_NEWRELIC_APP %}
{% set executable = registrar_venv_bin + '/newrelic-admin run-program ' + registrar_venv_bin + '/python' %}

export NEW_RELIC_CONFIG_FILE="{{ registrar_app_dir }}/newrelic.ini"
if command -v ec2metadata >/dev/null 2>&1; then
  INSTANCEID=$(ec2metadata --instance-id);
  HOSTNAME=$(hostname)
  export NEW_RELIC_PROCESS_HOST_DISPLAY_NAME="$HOSTNAME-$INSTANCEID"
fi
{% else %}
{% set executable = registrar_venv_bin + '/python' %}
{% endif %}

# We exec so that celery is the child of supervisor and can be managed properly

exec {{ executable }} {{ registrar_code_dir }}/manage.py $@
