#
# {{ ansible_managed }}
#
[program:{{ video_worker_service_name }}]

command={{ video_worker_home }}/{{ video_worker_service_name }}.sh
user={{ common_web_user }}
directory={{ video_worker_code_dir }}
stdout_logfile={{ supervisor_log_dir }}/%(program_name)s-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)s-stderr.log
killasgroup=true
stopasgroup=true
