[global]
index-url = {{ DEVPI_PROTOCOL }}://{{ DEVPI_HOST }}:{{ DEVPI_PORT }}{{ DEVPI_INDEX }}/+simple/

# Enables failover to PyPI if devpi is broken
extra-index-url = https://pypi.python.org/simple

# This is necessary if you aren't using TLS on the DevPI host
trusted-host = {{ DEVPI_HOST }}

[search]
index = {{ DEVPI_PROTOCOL }}://{{ DEVPI_HOST }}:{{ DEVPI_PORT }}{{ DEVPI_INDEX }}/
