[Unit]
Description=Xvfb X Server
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb {{ browser_xvfb_display }} -screen 0 1024x768x24

# Workaround for chromedriver hangs
Environment=DBUS_SESSION_BUS_ADDRESS=/dev/null

[Install]
WantedBy=multi-user.target
