[general]
state_file = /var/awslogs/state/agent-state

{% for log_config in CLOUDWATCH_LOG_FILES %}

[{{ log_config.filename }}]
file = {{ log_config.filename }}
log_group_name = {{ log_config.group_name }}
log_stream_name = {{ log_config.stream_name }}
datetime_format = %b %d %H:%M:%S

{% endfor %}
