{
    "logs": {
        "logs_collected": {
            "files": {
                "collect_list": [
                {%- for log_config in CLOUDWATCH_LOG_FILES -%}
                {
                    "file_path": "{{ log_config.filename }}",
                    "log_group_name": "{{ log_config.group_name }}",
                    "log_stream_name": "{{ log_config.stream_name }}"
                }{{ ", " if not loop.last else "" }}
                {%- endfor -%}
                ]
            }
        },
        "log_stream_name": "default_server_log_strream"
    }
}