<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="77">
  <server artifactsdir="artifacts" siteUrl="http://{{ GO_SERVER_FQDN }}:{{ GO_SERVER_PORT }}" secureSiteUrl="https://{{ GO_SERVER_FQDN }}:{{ GO_SERVER_SECURE_PORT }}" commandRepositoryLocation="default" serverId="d3a0287d-7698-4afe-a687-c165e8295918" agentAutoRegisterKey="{{ GO_SERVER_AUTO_REGISTER_KEY }}">
    <security>
      <passwordFile path="{{ GO_SERVER_CONF_HOME }}/{{ GO_SERVER_PASSWORD_FILE_NAME }}" />
      <admins>
        {% for user in  GO_SERVER_ADMIN_USERS%}
        <user>{{ user }}</user>
        {% endfor %}
      </admins>
    </security>
  </server>
</cruise>