{% for item in NGINX_ROBOT_RULES %}
{% if item.agent is string %}
User-agent: {{ item.agent }}
{% else %}
{% for agent in item.agent %}
User-agent: {{ agent }}
{% endfor %}
{% endif %}
{% if item.allow is defined %}
{% if item.allow is string %}
Allow: {{ item.allow }}
{% else %}
{% for allow in item.allow %}
Allow: {{ allow }}
{% endfor %}
{% endif %}
{% endif %}
{% if item.disallow is defined %}
{% if item.disallow is string %}
Disallow: {{ item.disallow }}
{% else %}
{% for disallow in item.disallow %}
Disallow: {{ disallow }}
{% endfor %}
{% endif %}
{% endif %}

{% endfor %}
