#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ video_pipeline_service_home }}/{{ video_pipeline_service_name }}_env
python {{ video_pipeline_service_home }}/{{ video_pipeline_service_name }}/{{ worker_script }}
