*******************************************************************
*                 Message regarding loadtests                     *
*                                                                 *
* Start your loadtesting journey by switching to the locust user: *
*                                                                 *
*   sudo su locust                                                *
*                                                                 *
* Please consult the loadtest environment queue before running    *
* load tests against our shared loadtest environment:             *
* https://openedx.atlassian.net/wiki/x/B4M3AQ                     *
*                                                                 *
* For troubleshooting or other help, see our documentation:       *
* https://openedx.atlassian.net/wiki/x/-QEsAQ                     *
*******************************************************************
