{% if  NGINX_HTPASSWD_USER and NGINX_HTPASSWD_PASS %}
     auth_basic            "Restricted";
     auth_basic_user_file  {{ nginx_htpasswd_file }};
     index index.html
     proxy_set_header X-Forwarded-Proto https;
{% endif %}
