{% if  NGINX_HTPASSWD_USER and NGINX_HTPASSWD_PASS %}
     satisfy any;

     allow 127.0.0.1;
     deny all;

     auth_basic            "Restricted";
     auth_basic_user_file  {{ nginx_htpasswd_file }};

     index index.html
     proxy_set_header X-Forwarded-Proto https;
{% endif %}
