server {
    listen {{ devpi_nginx_port }};
    gzip             on;
    gzip_min_length  2000;
    gzip_proxied     any;
    gzip_types       text/html application/json;

    root {{ devpi_venv_dir }}/test/data;  # arbitrary for now
    location / {
        proxy_pass http://localhost:{{ devpi_port }};
        proxy_set_header  X-outside-url $scheme://$host;
        proxy_set_header  X-Real-IP $remote_addr;
    }
}

