description     "Ensure nginx has the logging directories it needs"

start on mounted
task

script
        mkdir -m 2770 {{log_base_dir}}/nginx
        chown syslog:adm {{log_base_dir}}/nginx
end script
