server {
  listen 80;
  server_name verify.{{lms_env_config.SITE_NAME}};
  access_log {{log_base_dir}}/nginx/access-verify.log;
  error_log {{log_base_dir}}/nginx/error-verify.log;
  location / {
    proxy_pass {{certs_s3_bucket}}/;
  }
}
