% {{ ansible_managed }}

[{rabbit, [
  {log_levels, [{connection, info}]},
{# 
   Note: That these names should include the node name prefix. eg. 'rabbit@hostname'
#}
  {cluster_nodes, {['{{ RABBITMQ_CLUSTERED_HOSTS|join("\',\'") }}'], disc}}
]}].
