#### Copy this file and remove the '.example' extension in order to
#### use it in a terraform execution



environment = "env_foo"
deployment = "my_deployment"
service = "my_ci_service"

# AWS variables
aws_access_key = "FOOBARAIAIAIA"
aws_secret_key = "FOOBAT01010101"

# SQS variables
queue_name_pipeline = "my-pipeline-queue"
queue_name_pipeline = "my-sitespeed-queue"
queue_delay_seconds = 90
queue_max_message_size = 2048
queue_message_retention_seconds = 86400
queue_receive_wait_time_seconds = 10

