#### Copy this file and remove the '.example' extension in order to
#### use it in a terraform execution

environment = "env_foo"
deployment = "my_deployment"
service = "my_ci_service"

# AWS variables
aws_access_key = "FOOBARAIAIAIA"
aws_secret_key = "FOOBAT01010101"
aws_account_id = "123456789012"
