#
# harstorage - Pylons development environment configuration
#
# The %(here)s variable will be replaced with the parent directory of this file
#
[DEFAULT]
debug = false

[server:main]
use = egg:Paste#http
host = 127.0.0.1
port = 5000

[app:main]
use = egg:harstorage
full_stack = true
static_files = true
temp_store = %(here)s/data
bin_store  = %(here)s
ps_enabled = true
static_version = 1.0

mongo_replicate = false
mongo_replset = repl1
mongo_host = localhost
mongo_port = 27017
mongo_db   = harstorage
mongo_auth = false
mongo_user = admin
mongo_pswd = admin

cache_dir = %(here)s/data
beaker.session.key = harstorage
beaker.session.secret = somesecret

# Logging configuration
[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] [%(threadName)s] %(message)s
datefmt = %H:%M:%S
