[Unit]
Description=Hadoop Distributed File System Data Node

[Service]
Type=forking
ExecStart={{ HADOOP_COMMON_HOME }}/sbin/hadoop-daemon.sh --script hdfs start datanode
ExecStop={{ HADOOP_COMMON_HOME }}/sbin/hadoop-daemon.sh --script hdfs stop datanode
User={{ hadoop_common_user }}
Group={{ hadoop_common_group }}

[Install]
WantedBy=multi-user.target
