[Unit]
Description=Hadoop MapReduce History Server

[Service]
Type=forking
ExecStart={{ HADOOP_COMMON_HOME }}/sbin/mr-jobhistory-daemon.sh start historyserver
ExecStop={{ HADOOP_COMMON_HOME }}/sbin/mr-jobhistory-daemon.sh stop historyserver
User={{ hadoop_common_user }}
Group={{ hadoop_common_group }}

[Install]
WantedBy=multi-user.target
