[Unit]
Description=Hadoop YARN Resource Manager

[Service]
Type=forking
ExecStart={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh start resourcemanager
ExecStop={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh stop resourcemanager
User={{ hadoop_common_user }}
Group={{ hadoop_common_group }}

[Install]
WantedBy=multi-user.target
