[Unit]
Description=Hadoop YARN Proxy Server

[Service]
Type=forking
ExecStart={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh start proxyserver
ExecStop={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh stop proxyserver
User={{ hadoop_common_user }}
Group={{ hadoop_common_group }}

[Install]
WantedBy=multi-user.target
