[Unit]
Description=Hadoop YARN Node Manager

[Service]
Type=forking
ExecStart={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh start nodemanager
ExecStop={{ HADOOP_COMMON_HOME }}/sbin/yarn-daemon.sh stop nodemanager
User={{ hadoop_common_user }}
Group={{ hadoop_common_group }}

[Install]
WantedBy=multi-user.target
