[core]
logging_conf_file = /etc/luigi/logging.conf

[scheduler]
{% if luigid_config is defined %}
{% for key,value in luigid_config.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}

[task_history]
db_connection = {{ luigid_task_history_connection }}