<?xml version="1.0"?>

<configuration>
  <property>
    <name>yarn.nodemanager.aux-services</name>
    <value>mapreduce_shuffle</value>
  </property>

  <property>
    <name>yarn.nodemanager.aux-services.mapreduce.shuffle.class</name>
    <value>org.apache.hadoop.mapred.ShuffleHandler</value>
  </property>

{% if yarn_site_config is defined %}
{% for key,value in yarn_site_config.iteritems() %}
  <property>
    <name>{{ key }}}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
{% endif %}

</configuration>