127.0.0.1 localhost
{% for host in groups.all %}
{% if 'ansible_default_ipv4' in hostvars.get(host, {}) %}
{{ hostvars[host].ansible_default_ipv4.address }} {{ hostvars[host].inventory_hostname }}
{% endif %}
{% endfor %}

