---
{% for file in JENKINS_SECRET_FILES_LIST %}
- credentialType: 'secretFile'
  scope: '{{ file.scope }}'
  name: '{{ file.name }}'
  path: 'credentials/{{ file.name }}'
  description: '{{ file.description }}'
  id: '{{ file.id }}'
{% endfor %}
{% for userPass in JENKINS_USERNAME_PASSWORD_LIST %}
- credentialType: 'usernamePassword'
  scope: '{{ userPass.scope }}'
  username: '{{ userPass.username }}'
  password: '{{ userPass.password }}'
  description: '{{ userPass.description }}'
  id: '{{ userPass.id }}'
{% endfor %}
{% for text in JENKINS_SECRET_TEXT_LIST %}
- credentialType: 'secretText'
  scope: '{{ text.scope }}'
  secretText: '{{ text.secretText }}'
  description: '{{ text.description }}'
  id: '{{ text.id }}'
{% endfor %}
{% for cert in JENKINS_CERTIFICATES_LIST %}
- credentialType: 'certificate'
  scope: '{{ cert.scope }}'
  path: '{{ cert.path }}'
  password: ''{{ cert.password }}'
  description: '{{ cert.description }}'
  id: '{{ cert.id }}'
{% endfor %}
{% for ssh in JENKINS_SSH_LIST %}
- credentialType: 'ssh'
  scope: '{{ ssh.scope }}'
  username: '{{ ssh.username }}'
  sshKey: |
    {{ ssh.sshKey | indent(4) }}
  passphrase: '{{ ssh.passphrase }}'
  description: '{{ ssh.description }}'
  id: '{{ ssh.id }}'
{% endfor %}
{% for aws in JENKINS_AWS_LIST %}
- credentialType: 'aws'
  scope: '{{ aws.scope }}'
  id: '{{ aws.id }}'
  accessKeyId: '{{ aws.accessKeyId }}'
  secretAccessKey: '{{ aws.secretAccessKey }}'
  description: '{{ aws.description }}'
  iamRole: '{{ aws.iamRole }}'
  mfaSerialNumber: '{{ aws.iamRole }}'
{% endfor %}
