---
CLOUDS:
    - NAME: '{{ JENKINS_EC2_REGION }}'
      CREDENTIAL_ID: '{{ JENKINS_EC2_CREDENTIAL_ID }}'
      USE_INSTANCE_PROFILE_FOR_CREDS: {{ jenkins_common_use_instance_profile_for_creds }}
      REGION: '{{ JENKINS_EC2_REGION }}'
      EC2_PRIVATE_KEY_PATH: '{{ jenkins_common_config_path }}/ec2/id_rsa'
      INSTANCE_CAP: '{{ jenkins_common_instance_cap }}'
      ROLE_ARN: '{{ JENKINS_EC2_ROLE_ARN }}'
      ROLE_SESSION_NAME: '{{ JENKINS_EC2_ROLE_SESSION_NAME }}'
      AMIS:
{% for ami in JENKINS_EC2_AMIS %}
          - AMI_ID: '{{ ami.AMI_ID }}'
            AVAILABILITY_ZONE: '{{ ami.AVAILABILITY_ZONE }}'
            SPOT_CONFIG:
                SPOT_MAX_BID_PRICE: '{{ ami.SPOT_CONFIG.SPOT_MAX_BID_PRICE }}'
                SPOT_INSTANCE_BID_TYPE: '{{ ami.SPOT_CONFIG.SPOT_INSTANCE_BID_TYPE }}'
            SECURITY_GROUPS: '{{ ami.SECURITY_GROUPS }}'
            REMOTE_FS_ROOT: '{{ ami.REMOTE_FS_ROOT }}'
            INSTANCE_TYPE: '{{ ami.INSTANCE_TYPE }}'
            LABEL_STRING: '{{ ami.LABEL_STRING }}'
            MODE: '{{ ami.MODE }}'
            DESCRIPTION: '{{ ami.DESCRIPTION }}'
            INIT_SCRIPT_PATH: '{{ ami.INIT_SCRIPT_PATH }}'
            TEMP_DIR: '{{ ami.TEMP_DIR }}'
            USER_DATA: '{{ ami.USER_DATA }}'
            NUM_EXECUTORS: '{{ ami.NUM_EXECUTORS }}'
            REMOTE_ADMIN: '{{ ami.REMOTE_ADMIN }}'
            JVM_OPTIONS: '{{ ami.JVM_OPTIONS }}'
            STOP_ON_TERMINATE: {{ ami.STOP_ON_TERMINATE }}
            SUBNET_ID: '{{ ami.SUBNET_ID }}'
            TAGS:
{% for tag in ami.TAGS %}
                - NAME: '{{ tag.NAME }}'
                  VALUE: '{{ tag.VALUE }}'
{% endfor %}
            IDLE_TERMINATION_MINUTES: '{{ ami.IDLE_TERMINATION_MINUTES }}'
            USE_PRIVATE_DNS_NAME: {{ ami.USE_PRIVATE_DNS_NAME }}
            INSTANCE_CAP: '{{ ami.INSTANCE_CAP }}'
            IAM_INSTANCE_PROFILE: '{{ ami.IAM_INSTANCE_PROFILE }}'
            USE_EPHEMERAL_DEVICES: {{ ami.USE_EPHEMERAL_DEVICES }}
            LAUNCH_TIMEOUT: '{{ ami.LAUNCH_TIMEOUT }}'
            EBS_OPTIMIZED: {{ ami.EBS_OPTIMIZED }}
            DELETE_ROOT_ON_TERMINATION: {{ ami.DELETE_ROOT_ON_TERMINATION }}
            AMI_TYPE:
                ROOT_COMMAND_PREFIX: '{{ ami.AMI_TYPE.ROOT_COMMAND_PREFIX }}'
                SLAVE_COMMAND_PREFIX: '{{ ami.AMI_TYPE.SLAVE_COMMAND_PREFIX }}'
                SLAVE_COMMAND_SUFFIX: '{{ ami.AMI_TYPE.SLAVE_COMMAND_SUFFIX }}'
                REMOTE_SSH_PORT: '{{ ami.AMI_TYPE.REMOTE_SSH_PORT }}'
            USE_DEDICATED_TENANCY: {{ ami.USE_DEDICATED_TENANCY }}
            ASSOCIATE_PUBLIC_IP: {{ ami.ASSOCIATE_PUBLIC_IP }}
            CUSTOM_DEVICE_MAPPING: '{{ ami.CUSTOM_DEVICE_MAPPING }}'
            USE_EXTERNAL_SSH_PROCESS: {{ ami.USE_EXTERNAL_SSH_PROCESS }}
            CONNECT_WITH_PUBLIC_IP: {{ ami.CONNECT_WITH_PUBLIC_IP }}
            MONITORING: {{ ami.MONITORING }}
            T2_UNLIMITED: {{ ami.T2_UNLIMITED }}
{% endfor %}
