---
ADV_PROPERTIES: '{{ jenkins_common_email_advanced_properties }}'
DEFAULT_CONTENT_TYPE: '{{ jenkins_common_email_content_type }}'
DEFAULT_SUBJECT: '{{ jenkins_common_default_email_subject }}'
DEFAULT_BODY_PATH: '{{ jenkins_common_email_default_body_path }}'
EMERGENCY_REROUTE: '{{ jenkins_common_email_emergency_reroute }}'
DEFAULT_REPLYTO: '{{ jenkins_common_email_replyto }}'
DEFAULT_PRESEND_SCRIPT_PATH: '{{ jenkins_common_email_default_presend_script_path }}'
DEFAULT_POSTSEND_SCRIPT_PATH: '{{ jenkins_common_email_default_postsend_script_path }}'
DEBUG_MODE: '{{ jenkins_common_email_debug_mode }}'
MAX_ATTACHMENT_SIZE: '{{ jenkins_common_email_max_attachment_size }}'
DEFAULT_RECIPIENTS: '{{ jenkins_common_email_default_recipients }}'
ADD_PRECEDENCE_BULK: '{{ jenkins_common_email_add_precedence_bulk }}'
ALLOWED_DOMAINS: '{{ jenkins_common_email_allowed_domains }}'
EXCLUDED_COMMITTERS: '{{ jenkins_common_email_excluded_committers }}'
REQUIRE_ADMIN_FOR_TEMPLATE_TESTING: '{{ jenkins_common_email_require_admin_for_template_testing }}'
WATCHING_ENABLED: '{{ jenkins_common_email_watching_enabled }}'
ALLOW_UNREGISTERED_ENABLED: '{{ jenkins_common_email_allow_unregistered_enabled }}'
USE_LIST_ID: '{{ jenkins_common_email_use_list_id }}'
LIST_ID': '{{ jenkins_common_email_list_id }}'
TRIGGERS:
{% for trigger in jenkins_common_email_triggers %}
    - '{{ trigger }}'
{% endfor %}
