---
SERVER_API_URL: '{{ jenkins_common_ghprb_server }}'
ADMIN_LIST:
{% for admin in JENKINS_GHPRB_ADMIN_LIST %}
    - '{{ admin }}'
{% endfor %}
REQUEST_TESTING_PHRASE: '{{ jenkins_common_ghprb_request_testing }}'
WHITE_LIST_PHRASE: '{{ jenkins_common_ghprb_white_list_phrase }}'
OK_PHRASE: '{{ jenkins_common_ghprb_ok_phrase }}'
RETEST_PHRASE: '{{ jenkins_common_ghprb_retest_phrase }}'
BLACKLIST_AUTHORS: '{{ JENKINS_GHPRB_BLACK_LIST_AUTHORS }}'
SKIP_PHRASE: '{{ jenkins_common_ghprb_skip_phrase }}'
CRON_SCHEDULE: '{{ jenkins_common_ghprb_cron_schedule }}'
USE_COMMENTS: {{ jenkins_common_ghprb_use_comments }}
USE_DETAILED_COMMENTS: {{ jenkins_common_ghprb_use_detailed_comments }}
MANAGE_WEBHOOKS:  {{ jenkins_common_ghprb_manage_webhooks }}
UNSTABLE_AS: '{{ jenkins_common_ghprb_failure_as }}'
AUTO_CLOSE_FAILED_PRS: {{ jenkins_common_ghprb_auto_close_fails }}
DISPLAY_ERRORS_DOWNSTREAM: {{ jenkins_commmon_ghprb_display_errors }}
BLACK_LIST_LABELS:
{% for blacklist in JENKINS_GHPRB_BLACK_LIST %}
    - '{{ blacklist }}'
{% endfor %}
WHITE_LIST_LABELS:
{% for whitelist in JENKINS_GHPRB_WHITE_LIST %}
    - '{{ whitelist }}'
{% endfor %}
GITHUB_AUTH: '{{ jenkins_common_ghprb_github_auth }}'
CANCEL_BUILD_ON_UPDATE: '{{ jenkins_common_ghprb_cancel_build_on_update }}'
SIMPLE_STATUS: '{{ jenkins_common_ghprb_simple_status }}'
PUBLISH_JENKINS_URL: '{{ jenkins_common_ghprb_publish_jenkins_url }}'
BUILD_LOG_LINES_TO_DISPLAY: {{ jenkins_common_ghprb_build_log_lines }}
RESULT_MESSAGES:
{% for message in jenkins_common_ghprb_results %}
    - STATUS: '{{ message.STATUS }}'
      MESSAGE: '{{ message.MESSAGE }}'
{% endfor %}
CREDENTIALS_ID: '{{ JENKINS_GHPRB_CREDENTIAL_ID }}'
SHARED_SECRET: '{{ JENKINS_GHPRB_SHARED_SECRET }}'
