---
{% for config in jenkins_common_github_configs %}
- CREDENTIAL_ID: '{{ config.CREDENTIAL_ID }}'
  MANAGE_HOOKS: '{{ config.MANAGE_HOOKS }}'
  USE_CUSTOM_API_URL: '{{ config.USE_CUSTOM_API_URL }}'
  API_URL: '{{ config.API_URL }}'
  CACHE_SIZE: {{ config.CACHE_SIZE}}
{% endfor %}
