---
{% for config in jenkins_common_github_configs %}
- CREDENTIAL_ID: '{{ config.GITHUB_CREDENTIAL_ID }}'
  MANAGE_HOOKS: '{{ config.GITHUB_MANAGE_HOOKS }}'
  USE_CUSTOM_API_URL: '{{ config.GITHUB_USE_CUSTOM_API_URL }}'
  API_URL: '{{ config.GITHUB_API_URL }}'
  CACHE_SIZE: '{{ config.GITHUB_CACHE_SIZE}}'
{% endfor %}
