---
GROOVY_INSTALLATIONS:
{% for installation in jenkins_common_groovy_installations %}
    - NAME: '{{ installation.NAME }}'
      HOME: '{{ installation.HOME }}'
      VERSION: '{{ installation.VERSION }}'
{% endfor %}
