---
HISTORY_ROOT_DIR: '{{ jenkins_common_history_root }}'
MAX_HISTORY_ENTRIES: '{{ jenkins_common_history_max_entries }}'
MAX_DAYS_TO_KEEP_ENTRIES: '{{ jenkins_common_history_max_days }}'
MAX_ENTRIES_PER_PAGE: '{{ jenkins_common_history_max_entries_page }}'
SKIP_DUPLICATE_HISTORY: '{{ jenkins_common_history_skip_duplicates }}'
EXCLUDE_PATTERN: '{{ jenkins_common_history_exclude_pattern }}'
SAVE_MODULE_CONFIGURATION: '{{ jenkins_common_history_save_module_config }}'
SHOW_BUILD_BADGES: '{{ jenkins_common_history_show_build_badges }}'
EXCLUDED_USERS: '{{ jenkins_common_history_excluded_users }}'
