---
{% for recorder in jenkins_common_log_list %}
- LOG_RECORDER: '{{ recorder.LOG_RECORDER }}'
  LOGGERS:
{% for log in recorder.LOGGERS %}
    - name: '{{ log.name }}'
      log_level: '{{ log.log_level }}'
{% endfor %}
{% endfor %}
