---
SMTP_SERVER: '{{ JENKINS_MAILER_SMTP_SERVER }}'
REPLY_TO_ADDRESS: '{{ JENKINS_MAILER_REPLY_TO_ADDRESS }}'
DEFAULT_SUFFIX: '{{ JENKINS_MAILER_DEFAULT_SUFFIX }}'
SMTP_AUTH_USERNAME: '{{ JENKINS_MAILER_SMTP_AUTH_USERNAME }}'
SMTP_AUTH_PASSWORD: '{{ JENKINS_MAILER_SMTP_AUTH_PASSWORD }}'
SMTP_PORT: '{{ jenkins_common_mailer_port }}'
USE_SSL: '{{ jenkins_common_mailer_use_ssl }}'
CHAR_SET: '{{ jenkins_common_mailer_char_set }}'
