---
MAIN:
    WORKSPACE_ROOT_DIR: '${ITEM_ROOTDIR}/workspace'
    BUILD_RECORD_ROOT_DIR: '${ITEM_ROOTDIR}/builds'
    SYSTEM_MESSAGE: '{{ jenkins_common_main_system_message }}'
    NUMBER_OF_EXECUTORS: {{ jenkins_common_main_num_executors }}
    LABELS:
{% for label in jenkins_common_main_labels %}
        - '{{ label }}'
{% endfor %}
    USAGE: '{{ jenkins_node_usage }}'
    QUIET_PERIOD: {{ jenkins_common_main_quiet_period }}
    SCM_RETRY_COUNT: {{ jenkins_common_main_scm_retry }}
    DISABLE_REMEMBER_ME: {{ jenkins_common_main_disable_remember }}
GLOBAL_PROPERTIES:
    ENVIRONMENT_VARIABLES:
{% for env in jenkins_common_main_env_vars %}
        - NAME: '{{ env.NAME }}'
          VALUE: '{{ env.VALUE }}'
{% endfor %}
    TOOL_LOCATIONS:
LOCATION:
    URL: '{{ JENKINS_MAIN_URL }}'
    ADMIN_EMAIL: '{{ JENKINS_MAIN_ADMIN_EMAIL }}'
SHELL:
    EXECUTABLE: '{{ jenkins_common_main_executable }}'
FORMATTER:
    FORMATTER_TYPE: '{{ jenkins_common_formatter_type }}'
    DISABLE_SYNTAX_HIGHLIGHTING: {{ jenkins_common_disable_syntax_highlighting }}
CLI:
    CLI_ENABLED: false
SETUP_WIZARD:
    SETUP_WIZARD_ENABLED: false
