---
MASKED_PARAMETER_CLASSES:
{% for class in JENKINS_MASK_PASSWORDS_CLASSES %}
  - '{{ class }}'
{% endfor %}
NAME_PASSWORD_PAIRS:
{% for pair in JENKINS_MASK_PASSWORDS_PAIRS %}
  - NAME: '{{ pair.NAME }}'
    PASSWORD: '{{ pair.PASSWORD }}'
{% endfor %}
