---
PYTHON_INSTALLATIONS:
{% for installation in jenkins_common_python_installations %}
    - PYTHON_ALIAS: '{{ installation.PYTHON_ALIAS }}'
      PYTHON_PATH: '{{ installation.PYTHON_PATH }}'
      PYTHON_PROPERTIES: []
{% for property in installation.PYTHON_PROPERTIES %}
        - property
{% endfor %}
{% endfor %}
