---
IDP_METADATA: '{{ JENKINS_SAML_IDP_METADATA }}'
DISPLAY_NAME_ATTRIBUTE: '{{ JENKINS_SAML_DISPLAY_NAME_ATTRIBUTE }}'
GROUP_ATTRIBUTE: '{{ JENKINS_SAML_GROUP_ATTRIBUTE }}'
MAX_AUTH_LIFETIME_SECONDS: '{{ JENKINS_SAML_MAX_AUTH_LIFETIME_SECONDS }}'
USERNAME_ATTRIBUTE: '{{ JENKINS_SAML_USERNAME_ATTRIBUTE }}'
EMAIL_ATTRIBUTE: '{{ JENKINS_SAML_EMAIL_ATTRIBUTE }}'
LOGOUT_URL: '{{ JENKINS_SAML_LOGOUT_URL }}'
{% if JENKINS_SAML_ADVANCED_CONFIGURATION %}
ADVANCED_CONFIGURATION:
    FORCE_AUTH: {{ JENKINS_SAML_ADVANCED_CONFIGURATION.FORCE_AUTH }}
    CONTEXT_CLASS_REF: '{{ JENKINS_SAML_ADVANCED_CONFIGURATION.CONTEXT_CLASS_REF }}'
    ENTITY_ID: '{{ JENKINS_SAML_ADVANCED_CONFIGURATION.ENTITY_ID }}'
    MAXIMUM_SESSION_LIFETIME: {{ JENKINS_SAML_ADVANCED_CONFIGURATION.MAXIMUM_SESSION_LIFETIME }}
{% else %}
ADVANCED_CONFIGURATION: {}
{% endif %}
{% if JENKINS_SAML_ENCRYPTION_DATA %}
ENCRYPTION_DATA:
    KEY_STORE_PATH: '{{ JENKINS_SAML_ENCRYPTION_DATA.KEY_STORE_PATH }}'
    KEY_STORE_PASSWORD: '{{ JENKINS_SAML_ENCRYPTION_DATA.KEY_STORE_PASSWORD }}'
    PRIVATE_KEY_PASSWORD: '{{ JENKINS_SAML_ENCRYPTION_DATA.PRIVATE_KEY_PASSWORD }}'
    PRIVATE_KEY_ALIAS: '{{ JENKINS_SAML_ENCRYPTION_DATA.PRIVATE_KEY_ALIAS }}'
    FORCE_SIGN_REDIRECT_BINDING_AUTH_REQUEST: {{ JENKINS_SAML_ENCRYPTION_DATA.FORCE_SIGN_REDIRECT_BINDING_AUTH_REQUEST }}
{% else %}
ENCRYPTION_DATA: {}
{% endif %}
USERNAME_CASE_CONVENTION: '{{ JENKINS_SAML_USERNAME_CASE_CONVENTION }}'
BINDING: '{{ JENKINS_SAML_BINDING }}'
SAML_CUSTOM_ATTRIBUTES:
{% for attribute in JENKINS_SAML_CUSTOM_ATTRIBUTES %}
    - ATTRIBUTE_NAME: '{{ attribute.ATTRIBUTE_NAME }}'
      ATTRIBUTE_VALUE: '{{ attribute.ATTRIBUTE_VALUE }}'
{% endfor %}
