---
AGENT_SETTINGS:
    PROTOCOLS:
{% for protocol in jenkins_common_security_agent_protocols %}
      - {{ protocol }}
{% endfor %}
    JNLP_TCP_PORT: {{ jenkins_common_security_agent_jnlp_tcp_port }}
SECURITY_GROUPS:
{% for group in JENKINS_SECURITY_GROUPS %}
  - NAME: '{{ group.NAME }}'
    PERMISSIONS:
{% for permission in group.PERMISSIONS %}
      - {{ permission }}
{% endfor %}
    USERS:
{% for user in group.USERS %}
      - {{ user }}
{% endfor %}
{% endfor %}
DSL_SCRIPT_SECURITY_ENABLED: {{ jenkins_common_dsl_script_security_enabled }}
CSRF_PROTECTION_ENABLED: {{ JENKINS_CSRF_PROTECTION_ENABLED }}
CSRF_PROXY_COMPATIBILITY: {{ JENKINS_CSRF_PROXY_COMPATIBILITY }}
