---
OAUTH_SETTINGS:
  GITHUB_WEB_URI: 'https://github.com'
  GITHUB_API_URI: 'https://api.github.com'
  CLIENT_ID: '{{ JENKINS_SECURITY_CLIENT_ID }}'
  CLIENT_SECRET: '{{ JENKINS_SECURITY_CLIENT_SECRET }}'
  SCOPES: '{{ jenkins_common_security_scopes }}'
SECURITY_GROUPS:
{% for group in JENKINS_SECURITY_GROUPS %}
  - NAME: '{{ group.NAME }}'
    PERMISSIONS:
{% for permission in group.PERMISSIONS %}
      - {{ permission }}
{% endfor %}
    USERS:
{% for user in group.USERS %}
      - {{ user }}
{% endfor %}
{% endfor %}
