---
SLACK_BASE_URL: '{{ JENKINS_SLACK_BASE_URL }}'
IS_SLACK_BOT: '{{ JENKINS_IS_SLACK_BOT }}'
SLACK_ROOM: '{{ JENKINS_SLACK_ROOM }}'
SLACK_TEAM_DOMAIN: '{{ JENKINS_SLACK_TEAM_DOMAIN }}'
# The following must be an id of a credential created in
# src/main/groovy/3importCredentials.groovy
SLACK_CREDENTIAL_ID: '{{ JENKINS_SLACK_CREDENTIAL_ID }}'
