---
SPLUNK_APP_ENABLED: {{ jenkins_common_splunk_enabled }}
SPLUNK_HOSTNAME: '{{ JENKINS_SPLUNK_HOSTNAME }}'
SPLUNK_HOST_PORT: {{ JENKINS_SPLUNK_PORT }}
USE_SSL: {{ jenkins_common_splunk_use_ssl }}
SPLUNK_TOKEN: '{{ JENKINS_SPLUNK_TOKEN }}'
RAW_EVENTS_ENABLED: {{ jenkins_common_splunk_raw_events_enabled }}
MAX_EVENT_BATCH_SIZE: {{ jenkins_common_splunk_batch_size }}
SPLUNK_APP_URL: '{{ JENKINS_SPLUNK_APP_URL }}'
RETRIES_ON_ERROR: {{ jenkins_common_splunk_retries }}
IGNORED_JOBS_PATTERN: {{ jenkins_common_splunk_ignored_jobs }}
MASTER_HOSTNAME: '{{ jenkins_common_splunk_master_hostname }}'
EVENT_SOURCE: '{{ jenkins_common_splunk_event_source }}'
SCRIPT_TYPE: '{{ jenkins_common_splunk_script_type }}'
SCRIPT_PATH: '{{ jenkins_common_splunk_script_path }}'
METADATA:
{% for metadata in jenkins_common_splunk_metadata %}
  - DATA_SOURCE: '{{ metadata.data_source }}'
    CONFIG_ITEM: '{{ metadata.config_item }}'
    VALUE: '{{ metadata.value }}'
{% endfor %}
