---
SYSTEM_CLOCK_FORMAT: "{{ jenkins_common_timestamper_system_clock_format }}"
ELAPSED_TIME_FORMAT: "{{ jenkins_common_timestamper_elapsed_time_format }}"
ENABLED_ON_PIPELINES: {{ jenkins_common_timestamper_enabled_on_pipelines }}
