---
{% include 'roles/ansible-role/templates/header.j2' %}
#
# Defaults for role {{ role_name }}
# 

#
# vars are namespace with the module name.
#
{{ role_name }}_role_name: {{ role_name }}

#
# OS packages
#

{{ role_name }}_debian_pkgs: []

{{ role_name }}_redhat_pkgs: []
