---
{% include 'roles/ansible-role/templates/header.j2' %}
#
# Defaults for role {{ my_role_name }}
# 

#
# vars are namespaced with the module name.
#
{{ my_role_name }}_role_name: {{ my_role_name }}

#
# OS packages
#

{{ my_role_name }}_debian_pkgs: []

{{ my_role_name }}_redhat_pkgs: []
