
# {{ ansible_managed }}

# This does not change any existing databases or rows, only the defaults for newly created databases

[client]
default-character-set={{ DEFAULT_MYSQL_CHARACTER_SET }}

[mysql]
default-character-set={{ DEFAULT_MYSQL_CHARACTER_SET }}


[mysqld]
collation-server = {{ DEFAULT_MYSQL_COLLATION }}
init-connect='SET NAMES {{ DEFAULT_MYSQL_CHARACTER_SET }}'
character-set-server = {{ DEFAULT_MYSQL_CHARACTER_SET }}

