[Unit]
Description=graphite-api socket

[Socket]
SocketUser={{ graphite_user }}
SocketGroup={{ graphite_group }}
ListenStream={{ graphite_root }}/run/graphite-api.sock

[Install]
WantedBy=sockets.target
