{{ COMMON_LOG_DIR }}/*/edx.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
  postrotate
    /usr/bin/killall -HUP rsyslogd
  endscript
  lastaction
    {% if COMMON_OBJECT_STORE_EDX_LOG_SYNC -%}
    {{ COMMON_OBJECT_STORE_LOG_SYNC_SCRIPT }} -d "{{ COMMON_LOG_DIR }}/lms" -b "{{ COMMON_OBJECT_STORE_LOG_SYNC_BUCKET }}" -p "{{ COMMON_OBJECT_STORE_EDX_LOG_SYNC_PREFIX }}lms/"
    {{ COMMON_OBJECT_STORE_LOG_SYNC_SCRIPT }} -d "{{ COMMON_LOG_DIR }}/cms" -b "{{ COMMON_OBJECT_STORE_LOG_SYNC_BUCKET }}" -p "{{ COMMON_OBJECT_STORE_EDX_LOG_SYNC_PREFIX }}cms/"
    {% endif -%}
  endscript
}
