{{ COMMON_LOG_DIR }}/*/edx.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
  postrotate
    /usr/bin/killall -HUP rsyslogd
  endscript
  lastaction
    {% if COMMON_AWS_SYNC -%}
    for dir in `ls {{ COMMON_LOG_DIR }}`; do
        if echo $dir | grep -qv tracking; then
            {{ aws_s3_sync_script }} -d {{ COMMON_LOG_DIR }}/$dir -b "{{ COMMON_AWS_SYNC_BUCKET }}/logs/application"
        fi
    done
    {% endif -%}
  endscript
}
