{{ COMMON_LOG_DIR }}/tracking.log {
  compress
  create
  dateext
  dateformat -%Y%m%d-%s
  missingok
  nodelaycompress
  notifempty
  rotate 16000
  size 1M
  postrotate
    /usr/bin/killall -HUP rsyslogd
  endscript
}
