[client]
default-character-set={{ default_character_set }}

[mysql]
default-character-set={{ default_character_set }}

[mysqld]
collation-server = {{ collation_server }}
init-connect={{ "\'" + init_connect + "\'" }}
character-set-server = {{ character_set_server }}
max_allowed_packet = {{ mysql_max_allowed_packet }}
