# {{ ansible_managed }}

[gerrit]
    basePath = {{ gerrit_data_dir }}
    canonicalWebUrl = http://{{ gerrit_hostname }}/
[database]
    type = MYSQL
    hostname = {{ gerrit_db_hostname }}
    database = {{ gerrit_db_name }}
    username = {{ gerrit_user }}
    password = {{ gerrit_db_password }}
[auth]
    type = HTTP
    httpHeader = GITHUB_USER
    loginUrl = /login
    logoutUrl = /oauth/reset
[sendemail]
    enable = {{ gerrit_smtp_enabled }}
    smtpServer = {{ gerrit_smtp_server }}
    smtpEncryption = {{ gerrit_smtp_encryption }}
    smtpUser = {{ gerrit_smtp_user }}
    smtpPass = {{ gerrit_smtp_pass }}
[container]
    user = {{ gerrit_user }}
    javaHome = {{ gerrit_jre_path }}
[sshd]
    listenAddress = *:{{ gerrit_sshd_port }}
[httpd]
    listenUrl = http://*:{{ gerrit_http_port }}/
    filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
    directory = cache
[github]
    url = https://github.com
    clientId = {{ gerrit_github_client_id }}
    clientSecret = {{ gerrit_github_client_secret }}
[user]
    email = {{ gerrit_email }}
    anonymousCoward = Anonymous User
[suggest]
    accounts = true
