server {
  listen 80;
  server_name {{ gerrit_hostname }};

  location / {
    proxy_pass              http://localhost:{{ gerrit_http_port }};
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}