;
;  {{ ansible_managed }}
;
[program:certificate-agent]

command={{ certs_venv_dir }}/bin/python {{certs_home}}/src/certificate_agent.py

priority=999
user={{ certs_user }}
stdout_logfile={{certs_logs_dir}}/certifier-certificate-agent-stdout.log
stderr_logfile={{certs_logs_dir}}/certifier-certificate-agent-stderr.log
environment=PID='/var/tmp/certifier-certificate-agent.pid',LANG=en_US.UTF-8,
killasgroup=true
stopasgroup=true
startsecs=10
autostart=true
autorestart=true
directory={{certs_home}}/src

environment=PID='/var/tmp/certifier-certificate-agent.pid',LANG=en_US.UTF-8,
{%- for name,value in certs_shell_env_vars.items() -%}
{{name}}="{{value}}"{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
