#!/usr/bin/env bash


# This script confirms that harprofiler can successfully run on the
# target machine.
source {{ harprofiler_venv_dir }}/bin/activate
cd {{ harprofiler_dir }}
python harprofiler.py

