export JENKINS_HOME='{{ jenkins_common_home }}'
export JENKINS_CONFIG_PATH='{{ jenkins_common_config_path }}'
export JENKINS_VERSION='{{ JENKINS_COMMON_VERSION }}'
export JENKINS_WAR_SOURCE='{{ jenkins_common_war_source}}'
