---
{% for item in JENKINS_SECRET_FILES_LIST %}
- credentialType: 'secretFile'
  scope: '{{ item.scope }}'
  name: '{{ item.name }}'
  path: 'credentials/{{ item.name }}'
  description: '{{ item.description }}'
  id: '{{ item.id }}'
{% endfor %}
