---
SERVER_API_URL: 'https://api.github.com'
ACCESS_TOKEN: '{{ JENKINS_GHPRB_TOKEN }}'
ADMIN_LIST:
{% for admin in JENKINS_GHPRB_ADMIN_LIST %}
    - '{{ admin }}'
{% endfor %}
REQUEST_TESTING_PHRASE: ''
WHITE_LIST_PHRASE: '.*[Aa]dd\W+to\W+whitelist.*'
OK_PHRASE: '.*ok\W+to\W+test.*'
RETEST_PHRASE: '.*jenkins\W+run\W+all.*'
SKIP_PHRASE: '.*\[[Ss]kip\W+ci\].*'
CRON_SCHEDULE: 'H/5 * * * *'
USE_COMMENTS: false
USE_DETAILED_COMMENTS: false
MANAGE_WEBHOOKS: false
UNSTABLE_AS: 'failure'
AUTO_CLOSE_FAILED_PRS: false
DISPLAY_ERRORS_DOWNSTREAM: false
BLACK_LIST_LABELS:
{% for blacklist in JENKINS_GHPRB_BLACK_LIST %}
    - '{{ blacklist }}'
{% endfor %}
WHITE_LIST_LABELS:
{% for whitelist in JENKINS_GHPRB_WHITE_LIST %}
    - '{{ whitelist }}'
{% endfor %}
GITHUB_AUTH: ''
SIMPLE_STATUS: ''
PUBLISH_JENKINS_URL: ''
BUILD_LOG_LINES_TO_DISPLAY:
RESULT_MESSAGES:
    - STATUS: 'FAILURE'
      MESSAGE: 'Test FAILed.'
    - STATUS: 'SUCCESS'
      MESSAGE: 'Test PASSed.'