# Configure Ruby
export RBENV_ROOT="{{ rbenv_root }}"
export PATH=$RBENV_ROOT/bin/:$PATH
eval "$(rbenv init -)"

# Configure JavaScript coverage
export JSCOVER_JAR=/usr/local/bin/JSCover-all-{{ jscover_version }}.jar

# Set the display to the virtual frame buffer (Xvfb)
export DISPLAY=:1
