# Ubuntu upstart file at /etc/init/mongodb.conf

pre-start script
    mkdir -p {{ mongo_dir }}
    mkdir -p {{ mongo_log_dir }}

    touch {{ mongo_log_dir }}/mongodb.log

    chown mongodb:nogroup -R {{ mongo_dir }}
    chown mongodb:nogroup -R {{ mongo_log_dir }}
end script

start on runlevel [2345]
stop on runlevel [06]

script
    ENABLE_MONGODB="yes"
    if [ -f /etc/default/mongodb ]; then . /etc/default/mongodb; fi
    if [ "x$ENABLE_MONGODB" = "xyes" ]; then exec start-stop-daemon --start --quiet --chuid mongodb --exec  /usr/bin/mongod -- --config /etc/mongodb.conf; fi
end script
