"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ discovery_gunicorn_timeout }}
bind = "{{ discovery_gunicorn_host }}:{{ discovery_gunicorn_port }}"
pythonpath = "{{ discovery_code_dir }}"
workers = {{ DISCOVERY_GUNICORN_WORKERS }}
worker_class = "{{ DISCOVERY_GUNICORN_WORKER_CLASS }}"

{{ DISCOVERY_GUNICORN_EXTRA_CONF }}
