"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ course_discovery_gunicorn_timeout }}
bind = "{{ course_discovery_gunicorn_host }}:{{ course_discovery_gunicorn_port }}"
pythonpath = "{{ course_discovery_code_dir }}"
workers = {{ COURSE_DISCOVERY_GUNICORN_WORKERS }}
worker_class = "{{ COURSE_DISCOVERY_GUNICORN_WORKER_CLASS }}"

{{ COURSE_DISCOVERY_GUNICORN_EXTRA_CONF }}
