[Unit]
Description=Atlantis - Atlantis is a tool that runs terraform via GitHub PRs
After=network.target

[Service]
User={{ atlantis_user }}

Type=simple
TimeoutSec=60

Restart=always
RestartSec=1

WorkingDirectory={{ atlantis_app_dir }}
ExecStart={{ atlantis_app_dir }}/{{ atlantis_service_name }}.sh server --repo-config={{ atlantis_repo_config_path }}

[Install]
WantedBy=multi-user.target
