#!/usr/bin/env bash

# {{ ansible_managed }}
source {{ atlantis_app_dir }}/{{ atlantis_service_name }}_env

# We exec so that atlantis is the child of systemd and can be managed properly
exec {{ atlantis_app_dir }}/atlantis $@
