"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ '{{' }} ansible_managed }}
"""

timeout = {{ '{{' }} {{ role_name }}_gunicorn_timeout }}
bind = "{{ '{{' }} {{ role_name }}_gunicorn_host }}:{{ '{{' }} {{ role_name }}_gunicorn_port }}"
pythonpath = "{{ '{{' }} {{ role_name }}_code_dir }}"
workers = {{ '{{' }} {{ role_name|upper }}_GUNICORN_WORKERS }}
worker_class = "{{ '{{' }} {{ role_name|upper }}_GUNICORN_WORKER_CLASS }}"

{{ '{{' }} {{ role_name|upper }}_GUNICORN_EXTRA_CONF }}
