"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ '{{' }} ansible_managed }}
"""

timeout = {{ '{{' }} {{ my_role_name }}_gunicorn_timeout }}
bind = "{{ '{{' }} {{ my_role_name }}_gunicorn_host }}:{{ '{{' }} {{ my_role_name }}_gunicorn_port }}"
pythonpath = "{{ '{{' }} {{ my_role_name }}_code_dir }}"
workers = {{ '{{' }} {{ my_role_name|upper }}_GUNICORN_WORKERS }}
worker_class = "{{ '{{' }} {{ my_role_name|upper }}_GUNICORN_WORKER_CLASS }}"

{{ '{%' }} if {{ my_role_name|upper }}_GUNICORN_MAX_REQUESTS {{ '%}' }}
max_requests = {{ '{{' }} {{ my_role_name|upper }}_GUNICORN_MAX_REQUESTS }}
{{ '{%' }} endif {{ '%}' }}

{{ '{{' }} {{ my_role_name|upper }}_GUNICORN_EXTRA_CONF }}
