# {{ '{{' }} ansible_managed }}

{{ '{%' }} for name,value in {{ role_name }}_environment.items() -%}
{{ '{%' }}- if value -%}
export {{ '{{' }} name }}="{{ '{{' }} value }}"
{{ '{%' }} endif %}
{{ '{%' }}- endfor %}
