#!/usr/bin/env bash

# {{ '{{' }} ansible_managed }}

{{ '{%' }} set {{ my_role_name }}_venv_bin = {{ my_role_name }}_home + "/venvs/" + {{ my_role_name }}_service_name + "/bin" %}
{{ '{%' }} if COMMON_ENABLE_NEWRELIC_APP %}
{{ '{%' }} set executable = {{ my_role_name }}_venv_bin + '/newrelic-admin run-program ' + {{ my_role_name }}_venv_bin + '/gunicorn' %}
{{ '{%' }} else %}
{{ '{%' }} set executable = {{ my_role_name }}_venv_bin + '/gunicorn' %}
{{ '{%' }} endif %}

{{ '{%' }} if COMMON_ENABLE_NEWRELIC_APP %}
export NEW_RELIC_APP_NAME="{{ '{{' }} {{ my_role_name|upper }}_NEWRELIC_APPNAME }}"
export NEW_RELIC_LICENSE_KEY="{{ '{{' }} NEWRELIC_LICENSE_KEY }}"
{{ '{%' }} endif -%}

source {{ '{{' }} {{ my_role_name }}_home }}/{{ my_role_name }}_env
{{ '{{' }} executable }} -c {{ '{{' }} {{ my_role_name }}_home }}/{{ my_role_name }}_gunicorn.py {{ '{{' }} {{ my_role_name|upper }}_GUNICORN_EXTRA }} {{ my_role_name }}.wsgi:application
