description     "Register and start threatstack"

start on runlevel [2345]
task


{% if THREATSTACK_LICENSE_KEY is defined %}
script
  env THREATSTACK_ROLE=$(/edx/bin/get_instance_role.py) || exit 0
  exec cloudsight setup --deploy-key={{ THREATSTACK_LICENSE_KEY }} --ruleset=$THREATSTACK_ROLE
end script
{% endif %}

