{% for extraction in SPLUNK_FIELD_EXTRACTIONS %}
{% if 'source' in extraction %}
[source::{{ extraction.source }}]
{% elif 'sourcetype' in extraction %}
[{{ extraction.sourcetype }}]
{% endif %}
EXTRACT-{{ extraction.name }} = {{ extraction.regex }}

{% endfor %}
