{% if NGINX_HTTPS_REDIRECT_STRATEGY == "scheme" %}
    if ($scheme != "https") 
    { 
      set $do_redirect_to_https "true";
    }

{% elif NGINX_HTTPS_REDIRECT_STRATEGY == "forward_for_proto" %}
    if ($http_x_forwarded_proto = "http") 
    {
      set $do_redirect_to_https "true";
    }
{% endif %}

    if ($do_redirect_to_https = "true")
    {
        return 301 https://$host$request_uri;
    }

