{% for mfe in MFES %}

  location ~ ^{{ mfe.public_path }}?(.*)$  {
      root  {{ COMMON_APP_DIR }}/{{ mfe.name }}/{{ mfe.repo }}/dist/;
      try_files /$1 {{ mfe.public_path }}index.html;
 }

{% endfor %}
