{% if NGINX_SERVER_MAINTENANCE_FILE_OFF is defined and NGINX_SERVER_MAINTENANCE_FILE_ON is defined %}
  if (-f {{ nginx_server_static_dir }}/{{ NGINX_SERVER_MAINTENANCE_FILE_ON }}) {
    return 503;
  }
{% endif %}