{% if COMMON_ENABLE_BASIC_AUTH %}
     satisfy any;

     allow 127.0.0.1;
     allow 192.168.0.0/16;
     allow 172.16.0.0/12;

     allow 10.3.110.0/24;
     allow 10.3.120.0/24;
     allow 10.8.110.0/24;
     allow 10.8.120.0/24;     

     deny all;

     auth_basic            "Restricted";
     auth_basic_user_file  {{ nginx_htpasswd_file }};

     index index.html
     proxy_set_header X-Forwarded-Proto https;
{% endif %}
