{%- if "cms" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

upstream cms-backend {
    {% for host in nginx_cms_gunicorn_hosts %}
        server {{ host }}:{{ edxapp_cms_gunicorn_port }} fail_timeout=0;
    {% endfor %}
}

{% if EDXAPP_CORS_ORIGIN_WHITELIST|length > 0 %}
  # The Origin request header indicates where a fetch originates from. It doesn't include any path information,
  # but only the server name (e.g. https://www.example.com).
  # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin for details.
  #
  # Here we set the value that is included in the Access-Control-Allow-Origin response header. If the origin is one
  # of our known hosts--served via HTTP or HTTPS--we allow for CORS. Otherwise, we set the "null" value, disallowing CORS.
  map $http_origin $cors_origin {
  default "null";
  {% for host in EDXAPP_CORS_ORIGIN_WHITELIST %}
    "~*^https?:\/\/{{ host|replace('.', '\.') }}$" $http_origin;
  {% endfor %}
  }
{% endif %}


server {
  # CMS configuration file for nginx, templated by ansible

  # Proxy to a remote maintanence page
  {% if NGINX_EDXAPP_ENABLE_S3_MAINTENANCE %}

  # Do not include a 502 error in NGINX_ERROR_PAGES when
  # NGINX_EDXAPP_ENABLE_S3_MAINTENANCE is enabled.

  error_page 502 @maintenance;

    {% include "s3_maintenance.j2" %}

  {% endif %}

  # error pages
  {% for k, v in NGINX_EDXAPP_ERROR_PAGES.items() %}
error_page {{ k }} {{ v }};
  {% endfor %}

  {% if NGINX_EDXAPP_PROXY_INTERCEPT_ERRORS %}
  proxy_intercept_errors on;
  {% endif %}

{% include "empty_json.j2" %}

  listen {{ EDXAPP_CMS_NGINX_PORT }} {{ default_site }};

  {% if NGINX_ENABLE_SSL %}

  listen {{ EDXAPP_CMS_SSL_NGINX_PORT }} ssl;

  ssl_certificate /etc/ssl/certs/{{ NGINX_SSL_CERTIFICATE|basename }};
  ssl_certificate_key /etc/ssl/private/{{ NGINX_SSL_KEY|basename }};
  {% endif %}

  {% if NGINX_ENABLE_SSL or NGINX_REDIRECT_TO_HTTPS %}
  # request the browser to use SSL for all connections
  add_header Strict-Transport-Security "max-age={{ NGINX_HSTS_MAX_AGE }}; includeSubDomains";
  {% endif %}

  # prevent the browser from doing MIME-type sniffing
  add_header X-Content-Type-Options nosniff;

  # Prevent invalid display courseware in IE 10+ with high privacy settings
  add_header P3P '{{ NGINX_P3P_MESSAGE }}';

  {% include "handle-tls-redirect-and-ip-disclosure.j2" %}

  server_name {{ CMS_HOSTNAME }};

  access_log {{ nginx_log_dir }}/access.log {{ NGINX_LOG_FORMAT_NAME }};
  error_log {{ nginx_log_dir }}/error.log error;

  # CS184 requires uploads of up to 4MB for submitting screenshots.
  # CMS requires larger value for course assest, values provided
  # via hiera.
  client_max_body_size {{ NGINX_CMS_CLIENT_MAX_BODY_SIZE }};
  proxy_read_timeout {{ NGINX_CMS_PROXY_READ_TIMEOUT }};

  rewrite ^(.*)/favicon.ico$ {{ NGINX_EDXAPP_FAVICON_PATH }} last;

  {% include "python_lib.zip.j2" %}
  {% include "common-settings.j2" %}

  location @proxy_to_cms_app {
{% include "cms_proxy.j2" %}
  }

  location @proxy_to_cms_app_api {
    error_page 504 @empty_json;
    error_page 502 @empty_json;
    error_page 500 @empty_json;

{% include "cms_proxy.j2" %}
  }

  location / {
    {% if EDXAPP_CMS_ENABLE_BASIC_AUTH|bool %}
      {% include "basic-auth.j2" %}
    {% endif %}
    try_files $uri @proxy_to_cms_app;
  }

  # No basic auth security on the github_service_hook url, so that github can use it for cms
  location /github_service_hook {
    try_files $uri @proxy_to_cms_app;
  }

  # No basic auth security on the heartbeat url, so that ELB can use it
  location /heartbeat {
    # If /edx/var/nginx/server-static/maintenance_heartbeat.txt exists serve an
    # empty 200 so the instance stays in the load balancer to serve the
    # maintenance page
    if (-f /edx/var/nginx/server-static/maintenance_heartbeat.txt) {
       return 200;
    }
    try_files $uri @proxy_to_cms_app;
  }

  # The api is accessed using OAUTH2 which
  # uses the authorization header so we can't have
  # basic auth on it as well.
  location /api {
    try_files $uri @proxy_to_cms_app_api;
  }

location ~ ^{{ EDXAPP_MEDIA_URL }}/(?P<file>.*) {
    root {{ edxapp_media_dir }};
    try_files /$file =404;
}

{% if NGINX_ADMIN_ACCESS_CIDRS and EDXAPP_ENABLE_DJANGO_ADMIN_RESTRICTION %}
  location /admin {
    real_ip_header X-Forwarded-For;
    set_real_ip_from {{ NGINX_TRUSTED_IP_CIDRS }};
    {% for cidr in NGINX_ADMIN_ACCESS_CIDRS %}
      allow {{ cidr }};
    {% endfor %}
      deny all;
      try_files $uri @proxy_to_cms_app;
  }
{% endif %}

  {% include "robots.j2" %}
  {% include "static-files.j2" %}

}
