
# Common settings used across nginx configurations

# Disables server version feedback on pages and in headers
server_tokens off;

# Set the maximum szie of buffers used for reading large client request header.
# This fixes 400 (Bad Request) error when multiple large cookies are present.
large_client_header_buffers 4 16k;
