
# Common settings used across nginx configurations

# Disables server version feedback on pages and in headers
server_tokens off;

# Increase accepted header size to account for overenthusiastic usage of cookies
large_client_header_buffers 8 16k;
