  {% if EDXAPP_ENABLE_CONNECTION_LIMITING %}
  
  # Close connections which are writing data too infrequently,
  # which can represent an attempt to keep connections open as
  # long as possible.  Slowloris is an example of this type of
  # attack.
  client_body_timeout {{ EDXAPP_CLIENT_BODY_TIMEOUT }};
  client_header_timeout {{ EDXAPP_CLIENT_HEADER_TIMEOUT }};
  
  {% endif %}
