server {
    listen {{ devpi_nginx_port }};
    server_name {{ devpi_server_name }};
    gzip             on;
    gzip_min_length  2000;
    gzip_proxied     any;
    gzip_types       text/html application/json;

    location / {
        root {{ devpi_data_dir }};
        proxy_pass http://localhost:{{ devpi_port }};
        proxy_set_header  X-outside-url $scheme://$host;
        proxy_set_header  X-Real-IP $remote_addr;
    }

    {% include robots.j2 %}
}

