{%- if "edx_notes_api" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

upstream {{ edx_notes_api_service_name }}_app_server {
    {% for host in nginx_edx_notes_api_gunicorn_hosts %}
        server {{ host }}:{{ edx_notes_api_gunicorn_port }} fail_timeout=0;
    {% endfor %}
}

server {
  listen {{ edx_notes_api_nginx_port }} {{ default_site }};

  {% if NGINX_ENABLE_SSL %}

  listen {{ edx_notes_api_ssl_nginx_port }} ssl;

  ssl_certificate /etc/ssl/certs/{{ NGINX_SSL_CERTIFICATE|basename }};
  ssl_certificate_key /etc/ssl/private/{{ NGINX_SSL_KEY|basename }};
  {% endif %}

  {% if NGINX_ENABLE_SSL or NGINX_REDIRECT_TO_HTTPS %}
  # request the browser to use SSL for all connections
  add_header Strict-Transport-Security "max-age={{ NGINX_HSTS_MAX_AGE }}; includeSubDomains";
  {% endif %}

  {% include "common-settings.j2" %}

  # Prevent invalid display courseware in IE 10+ with high privacy settings
  add_header P3P '{{ NGINX_P3P_MESSAGE }}';

  {% include "handle-tls-redirect-and-ip-disclosure.j2" %}

  server_name {{ EDX_NOTES_API_HOSTNAME }};

  location / {
    try_files $uri @proxy_to_app;
  }

  {% include "robots.j2" %}

location @proxy_to_app {
    proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
    proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
    proxy_set_header X-Forwarded-For $http_x_forwarded_for;

    # newrelic-specific header records the time when nginx handles a request.
    proxy_set_header X-Queue-Start "t=${msec}";

    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://{{ edx_notes_api_service_name }}_app_server;
  }
}
