  location @empty_json {
    # This location will return an empty body with content-type application/json
    # If this location is referenced by the error_page directive the
    # response code will be the error response code (i.e. 502), not 200
    # despite the "return 200" directive
    default_type application/json;
    return 200;
  }

