server {
  listen {{ HMX_WORDPRESS_NGINX_PORT }};
  access_log {{ nginx_log_dir }}/access.log {{ NGINX_LOG_FORMAT_NAME }};
  error_log {{ nginx_log_dir }}/error.log error;
  location / {
      proxy_pass {{ HMX_WORDPRESS_FORWARD_URL }};
      proxy_ssl_trusted_certificate {{ HMX_WORDPRESS_CERTIFICATE_LOCATION }};
      proxy_ssl_verify off; # Allow self signed certificates
  }
}
