{%- if "learner_portal" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

server {
  listen {{ LEARNER_PORTAL_NGINX_PORT }} {{ default_site }};
  server_name ~^((stage|prod)-)?learner-portal.*;
  location / {
    root /edx/app/learner_portal/learner_portal/dist;
    index index.html;
  }
}

server {
  listen {{ LEARNER_PORTAL_SSL_NGINX_PORT }} ssl;
  server_name ~^((stage|prod)-)?learner-portal.*;
  ssl_certificate /etc/ssl/certs/wildcard.sandbox.edx.org.pem;
  ssl_certificate_key /etc/ssl/private/wildcard.sandbox.edx.org.key;
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
  location / {
    root /edx/app/learner_portal/learner_portal/dist;
    index index.html;
  }
}