# nginx maps are defined at the top level and are global

# cache header for static files
map $status $cache_header_long_lived {
  default   "max-age=315360000";
  404       "no-cache";
}

map $status $cache_header_short_lived {
  default   "max-age=300";
  404       "no-cache";
}

{% if EDXAPP_CORS_ORIGIN_WHITELIST is defined %}
  {% if EDXAPP_CORS_ORIGIN_WHITELIST|length > 0 %}
    # The Origin request header indicates where a fetch originates from. It doesn't include any path information,
    # but only the server name (e.g. https://www.example.com).
    # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin for details.
    #
    # Here we set the value that is included in the Access-Control-Allow-Origin response header. If the origin is one
    # of our known hosts--served via HTTP or HTTPS--we allow for CORS. Otherwise, we set the "null" value, disallowing CORS.
    map $http_origin $cors_origin {
    default "null";
    {% for host in EDXAPP_CORS_ORIGIN_WHITELIST %}
      "~*^https?:\/\/{{ host|replace('.', '\.') }}$" $http_origin;
    {% endfor %}
    }
  {% endif %}
{% endif %}
