# nginx maps are defined at the top level and are global

# cache header for static files
map $status $cache_header_long_lived {
  default   "max-age=315360000";
  404       "no-cache";
}

map $status $cache_header_short_lived {
  default   "max-age=300";
  404       "no-cache";
}
