# nginx maps are defined at the top level and are global
#
# THESE ARE GLOBAL TO ALL IDAs, USE CAUTION WHEN DEFINING HERE
# SEE https://github.com/edx/configuration/pull/5056 FOR A
# CAUTIONARY TALE

# cache header for static files
map $status $cache_header_long_lived {
  default   "max-age=315360000";
  404       "no-cache";
}

map $status $cache_header_short_lived {
  default   "max-age=300";
  404       "no-cache";
}
