{%- if "prospectus" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

map $uri $cs_whitelist {
  default 0;
  "/professional-certificate/delftx-data-analysis-&-visualization-with-excel" 1;
}

map $uri $bz_whitelist {
  default 0;
  "/professional-certificate/babsonx-financial-decision-making-for-leaders" 1;
}

server {
  # Prospectus configuration file for nginx, templated by ansible

  {% if NGINX_PROSPECTUS_PROXY_INTERCEPT_ERRORS %}
  proxy_intercept_errors on;
  {% endif %}

  listen {{ PROSPECTUS_NGINX_PORT }} {{ default_site }};

  root {{ PROSPECTUS_DATA_DIR }};

  # Ignore the rollout group headers for the health check endpoint.
  location /HealthCheck {
    try_files $uri $uri/index.html @drupal;
  }

  location /admin/ {
    add_header 'Cache-Control' 'public, max-age=0, must-revalidate';
    try_files $uri @drupal;
  }

  location /static/ {
    add_header 'Cache-Control' 'public, max-age=31536000, immutable';
  }

  location / {
    set $cs_control "0:0";
    if ($http_x_rollout_group ~ "cs_control") {
      set $cs_control "${cs_whitelist}:1";
    }

    if ($cs_control = "1:1") {
      proxy_pass {{ PROSPECTUS_PROXY_PASS }};
    }

    set $bz_control "0:0";
    if ($http_x_rollout_group ~ "bz_control") {
      set $bz_control "${bz_whitelist}:1";
    }

    if ($bz_control = "1:1") {
      proxy_pass {{ PROSPECTUS_PROXY_PASS }};
    }
    location ~ \.(js|css)$ {
      add_header 'Cache-Control' 'public, max-age=31536000, immutable';
      try_files $uri @drupal;
    }
    try_files $uri @index;
  }

  location @index {
    add_header 'Cache-Control' 'public, max-age=0, must-revalidate';
    try_files $uri/index.html @drupal;
  }

  location @drupal {
    add_header 'Cache-Control' '';
    proxy_pass {{ PROSPECTUS_PROXY_PASS }};
  }

}