
  # Blackholes an archive of python library files that instructors
  # may provide for sandboxed python problem types, the internal
  # directive will result in nginx emitting an nginx 404. Users
  # will not be redirected to the application 404 page.
  location ~* python_lib.zip {
    internal;
  }

