  # Prevent the browser from doing MIME-type sniffing
  add_header X-Content-Type-Options nosniff;

  # Prevent potential XSS Reflection attack
  add_header X-XSS-Protection "1; mode-block";

  # Only allow resources to load from a specific set of
  # domains/subdomains required by Open edX.
  # Note that the Content-Security-Policy header value is currently
  # a W3C candidate recommendation and is supposedly supported
  # within Edge 15 build 15002+, Chrome 40+, Firefox 31+,
  # Safari 10+ and unsupported in all version of IE.  The previous
  # X-Content-Security-Policy header has been deprecated. However
  # Open edX does not render properly using Content-Security-Policy
  # whereas it does render as expected using X-Content-Security-Policy,
  # so we will leverage the older header until browser support catches
  # up with the standard.
  add_header X-Content-Security-Policy "{{ NGINX_X_CONTENT_SECURITY_POLICY_HEADER }}";

  # Prevent click-jacking by disalowing pages from being
  # rendered within <frame>, <iframe> or <object>
  add_header X-Frame-Options SAMEORIGIN;
