{% if NGINX_SERVER_MAINTENANCE_FILE_OFF is defined and NGINX_SERVER_MAINTENANCE_FILE_ON is defined %}
  # Maintenance page
  error_page 503 @maintenance;
  location @maintenance {
    root {{ nginx_server_static_dir }};
    rewrite ^(.*)$ /{{ NGINX_SERVER_MAINTENANCE_FILE_ON }} break;
  }
{% endif %}