#!/usr/bin/python
from subprocess import Popen,PIPE
import logging

log_file="{{ rabbitmq_log_dir }}/rabbitmq.memory.log"

def run_cmd(cmd):
    process=Popen(cmd,stdout=PIPE,stderr=PIPE,shell=True)
    output=process.communicate()[0]
    return output

if __name__=='__main__':

    process_mem=run_cmd("/usr/sbin/rabbitmqctl status | grep total | awk -F',|}' 'NR==1{print $2}'")
    logging.basicConfig(filename=log_file,
                        format='%(asctime)s - %(message)s',level=logging.DEBUG)

    if process_mem:
        process_mem_mb=float(process_mem)/(1024 * 1024)
        logging.debug("RabbitMQ Memory Usage(MB): {}".format(process_mem_mb))
    else:
        logging.debug("error connecting RabbitMQ process")
