#!/usr/bin/env bash                                                                                                                                                                                                              
set -x                                                                                                                                                                                                                           
                                                                                                                                                                                                                                 
log_directory={{ rabbitmq_log_dir }}                                                                                                                                                                                             
                                                                                                                                                                                                                                 
{% raw %}                                                                                                                                                                                                                        
memusg=`/usr/sbin/rabbitmqctl status | grep total | awk -F',|}' -v date="$(date)" 'NR==1{printf date"\tRabbitMQ Memory Usage:(MB) " $2/(1024 * 1024)}'`                                                                          
mkdir -p $log_directory                                                                                                                                                                                                          
echo $memusg >> "$log_directory/rabbitmq.memory.log"                                                                                                                                                                             
{% endraw %}                    
