#!/usr/bin/env bash
set -x

log_file={{ rabbitmq_mem_log }}

{% raw %}
memusg=`/usr/sbin/rabbitmqctl status | grep total | awk -F',|}' -v date="$(date)" 'NR==1{printf date"\tRabbitMQ Memory Usage:(MB) " $2/(1024 * 1024)}'`
echo $memusg >> $log_file
{% endraw %}
