[default]
host = {{ansible_hostname}}

{% for loggable in SPLUNKFORWARDER_LOG_ITEMS%}
[monitor://{{loggable.directory}}]
recursive = {{loggable.recursive|default(false)}}
{% if loggable.sourcetype is defined %}
sourcetype = {{loggable.sourcetype}}
{% endif %}
{% if loggable.index is defined %}
index = {{loggable.index}}
{% endif %}
{% endfor %}
