# {{ ansible_managed }}

{% for loggable in SPLUNKFORWARDER_LOG_ITEMS%}
[monitor://{{ loggable.source }}]
blacklist = \.(gz)$
recursive = {{ loggable.recursive|default(false) }}
{% if loggable.sourcetype is defined %}
sourcetype = {{ loggable.sourcetype }}
{% endif %}
{% if loggable.index is defined %}
index = {{ loggable.index }}
{% endif %}
{% if loggable._TCP_ROUTING is defined %}
_TCP_ROUTING = {{ loggable._TCP_ROUTING }}
{% endif %}
{% if loggable.followSymlink is defined %}
followSymlink = {{ loggable.followSymlink }}
{% endif %}
{% if loggable.crcSalt is defined %}
crcSalt = {{ loggable.crcSalt }}
{% endif %}
{% endfor %}
