[settings]

# Change the default port number:
httpport = {{SPLUNKFORWARDER_WEB_PORT}}

# Turn on SSL:
enableSplunkWebSSL = false
# absolute paths may be used here.
privKeyPath = etc/auth/splunkweb/privkey.pem
caCertPath = etc/auth/splunkweb/cert.pem