# Configure Ruby
source {{ jenkins_home }}/ruby_env

# Configure JavaScript coverage
export JSCOVER_JAR=/usr/local/bin/JSCover-all-{{ jscover_version }}.jar

# Set the display to the virtual frame buffer (Xvfb)
export DISPLAY="{{ browser_xvfb_display }}"
