#!/bin/bash

# Install the version of Node used in the platform tests on Jenkins
# and then install the Node packages specified in the platform. These
# installs will be cached and used as a baseline for installations
# in future test runs.
cd {{ jenkins_home }}/shallow-clone
npm install
