# Create directory for Jenkins jobs

start on runlevel [2345]

task
script
    mkdir -p {{ jenkins_workspace }}
    chown {{ jenkins_user }}:{{ jenkins_group }} {{ jenkins_workspace }}
    chmod 700 {{ jenkins_workspace }}
end script
