{% do lms_env_config.update(EDXAPP_ENV_EXTRA) %}
{% for key, value in lms_env_config.iteritems() -%}
  {% if value == 'None' -%}
    {% do lms_env_config.update({key: None }) %} 
  {%- endif %}
{%- endfor %}
{{ lms_env_config | to_nice_json }}
