{% for name in SPLUNK_INDEXES %}
[{{ name }}]
coldPath = {{ splunk_cold_dir }}/{{ name }}/colddb
homePath = {{ splunk_hot_dir }}/{{ name }}/db
thawedPath = {{ splunk_thawed_dir }}/{{ name }}/thaweddb
coldToFrozenDir = {{ splunk_frozen_dir }}/{{ name }}/frozendb

{% endfor %}
