{% for extraction in SPLUNK_FIELD_EXTRACTIONS %}
{% if 'source' in extraction %}
[source::{{ extraction.source }}]
{% elif 'sourcetype' in extraction %}
[{{ extraction.sourcetype }}]
{% endif %}
{% if extraction.name is defined %}
EXTRACT-{{ extraction.name }} = {{ extraction.regex }}
{% endif %}

{% endfor %}
