description     "hdfs"

start on starting yarn
stop on stopping yarn

setuid {{ hadoop_common_user }}

pre-start script
  . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh
  start-dfs.sh
end script

post-stop script
  . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh
  stop-dfs.sh
end script
