description     "yarn"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ hadoop_common_user }}

pre-start script
  . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh
  start-yarn.sh
end script

post-stop script
  . {{ HADOOP_COMMON_CONF_DIR }}/hadoop-env.sh
  stop-yarn.sh
end script
