server {
  listen {{ CERTS_NGINX_PORT }} default_server;

  location / {
    root {{ CERTS_WEB_ROOT }};
    {% if CERTS_ENABLE_BASIC_AUTH|bool %}
      {% include "basic-auth.j2" %}
    {% endif %}
    try_files $uri $uri/valid.html =404;
  }
}
