grails {
	awsAccounts=['{{ HOTG_ACCOUNT_ID }}']
	awsAccountNames=['{{ HOTG_ACCOUNT_ID  }}':'{{ HOTG_ACCOUNT_NAME }}']
}
secret {
	accessId='{{ HOTG_AWS_ACCESS_ID }}'
	secretKey='{{ HOTG_AWS_SECRET_KEY }}'
}
cloud {
	accountName='{{ HOTG_ACCOUNT_NAME }}'
	publicResourceAccounts=['amazon']
}

plugin {
    authenticationProvider = '{{ HOTG_AUTHENTICATION_PROVIDER }}'
}

auth {
    administrators = [{%- for admin in HOTG_ADMINISTRATORS -%}'{{admin}}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
    deployers = [{%- for deployer in HOTG_DEPLOYERS -%}'{{deployer}}'{%- if not loop.last -%},{%- endif -%}{%- endfor -%}]
    google {
        openid {
            return_to = '{{ HOTG_GOOGLE_APP_OAUTH_RETURN_TO_URL }}'
        }
     }
}

email {
	userEnabled = true
	systemEnabled = true
	smtpHost = '{{ HOTG_SMTP_HOST }}'
        smtpPort = {{ HOTG_SMTP_PORT }}
	smtpUsername = '{{ HOTG_AWS_ACCESS_ID }}'
	smtpPassword = '{{ HOTG_AWS_SECRET_KEY }}'
        smtpSslEnabled = true
	fromAddress = '{{ HOTG_EMAIL_FROM_ADDRESS }}'
	systemEmailAddress = '{{ HOTG_EMAIL_FROM_ADDRESS }}'
	errorSubjectStart = 'Hammer Error: '
}