"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ edx_ecommerce_gunicorn_timeout }}
bind = "{{ edx_ecommerce_gunicorn_host }}:{{ edx_ecommerce_gunicorn_port }}"
pythonpath = "{{ edx_ecommerce_code_dir }}"
workers = {{ EDX_ECOMMERCE_GUNICORN_WORKERS }}

{{ EDX_ECOMMERCE_GUNICORN_EXTRA_CONF }}
