#!/usr/bin/env bash

{{ ansible_managed }}

{% set edx_ecommerce_venv_bin = edx_ecommerce_home + "/venvs/" + edx_ecommerce_service_name + "/bin/" %}
{% if COMMON_ENABLE_NEWRELIC_APP %}
{% set executable = edx_ecommerce_venv_bin + '/newrelic-admin run-program ' + edx_ecommerce_venv_bin + '/gunicorn' %}
{% else %}
{% set executable = edx_ecommerce_venv_bin + '/gunicorn' %}
{% endif %}

{% if COMMON_ENABLE_NEWRELIC_APP %}
export NEW_RELIC_APP_NAME="{{ EDX_ECOMMERCE_NEWRELIC_APPNAME }}"
export NEW_RELIC_LICENSE_KEY="{{ NEWRELIC_LICENSE_KEY }}"
{% endif -%}

source {{ edx_ecommerce_home }}/edx_ecommerce_env
# TODO fix application
{{ executable }} -c {{ edx_ecommerce_home }}/edx_ecommerce_gunicorn.py {{ EDX_ECOMMERCE_GUNICORN_EXTRA }} wsgi:application
