server {
    listen 8099 default_server;

    location = /versions.html {
        alias {{ nginx_cfg.version_html }};
    }

    location = /versions.json {
        alias {{ nginx_cfg.version_json }};
    }
}
