from settings import *

# LMS doesn't run locally on workers, so we need to go out to the ELB

API_SERVER_ADDRESS = '{{ APROS_WORKER_LMS_BASE }}'
STUDIO_SERVER_ADDRESS = '{{ APROS_WORKER_CMS_BASE }}'
