---
{% include 'roles/ansible-role/templates/header.j2' %}
#
# Role includes for role {{ my_role_name }}
# 
# Example:
#
# dependencies:
#   - {
#   role: my_role 
#   my_role_var0: "foo"
#   my_role_var1: "bar"
# }
dependencies:
  - common
  - supervisor
  - role: edx_service
    edx_service_name: "{{ '{{' }} {{ my_role_name }}_service_name }}"
    edx_service_config: "{{ '{{' }} {{ my_role_name|upper }}_SERVICE_CONFIG }}"
    edx_service_repos: "{{ '{{' }} {{ my_role_name|upper }}_REPOS }}"
    edx_service_user: "{{ '{{' }} {{ my_role_name }}_user }}"
    edx_service_home: "{{ '{{' }} {{ my_role_name }}_home }}"
    edx_service_packages:
      debian: "{{ '{{' }} {{ my_role_name }}_debian_pkgs + {{ my_role_name|upper }}_DEBIAN_EXTRA_PKGS }}"
      redhat: "{{ '{{' }} {{ my_role_name }}_redhat_pkgs }}"
