keypair_id: {{ unique_key_name.stdout }}
key_material_file: {{ artifact_path }}/key.pem
instance_id: {{ ec2_instance_register.instances[0].id }}
instance_ip: {{ ec2_instance_register.instances[0].private_ip }}