#!/bin/bash

if [ -n "$GITHUB_USER" ]
then
    sudo usermod docker -s /bin/bash
    su docker -c "mkdir -p /home/docker/.ssh"
    echo >> /home/docker/.ssh/authorized_keys
    curl https://github.com/$GITHUB_USER.keys >> /home/docker/.ssh/authorized_keys
fi

# remote-task will be running ansible, and this directory will be owned by root, just clean it up.
sudo rm -rf /home/docker/.ansible

/usr/sbin/sshd
HADOOP_HOME={{ HADOOP_COMMON_HOME }}
su hadoop -c "$HADOOP_HOME/sbin/start-dfs.sh"
su hadoop -c "$HADOOP_HOME/sbin/start-yarn.sh"

su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -mkdir -p /edx-analytics-pipeline/packages/"
su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -put -f {{ HADOOP_COMMON_USER_HOME }}/lib/edx-analytics-hadoop-util.jar /edx-analytics-pipeline/packages/"
su hadoop -c "$HADOOP_HOME/bin/hdfs dfs -mkdir -p {{ ANALYTICS_PIPELINE_HDFS_DATA_DIR }}"

tail -f $HADOOP_HOME/logs/*.log