[default]
host = {{ SPLUNK_HOSTNAME }}

{% if SPLUNK_SSL_CERT %}
[splunktcp-ssl:{{ splunk_ssl_port }}]
compressed = true

[SSL]
serverCert = $SPLUNK_HOME/{{ splunk_cert_path }}/forwarder.pem
password = {{ SPLUNK_SSL_PASSWORD }}
requireClientCert = false
rootCA = $SPLUNK_HOME/{{ splunk_cert_path }}/cacert.pem
{% endif %}