[default]
host = {{ SPLUNK_HOSTNAME }}

{% if SPLUNK_FORWARDER_TLS_CERT %}
[splunktcp-ssl:{{ splunk_ssl_port }}]
compressed = true

[SSL]
password = {{ SPLUNK_FORWARDER_TLS_PASSWORD }}
requireClientCert = false
rootCA = $SPLUNK_HOME/{{ splunk_cert_path }}/cacert.pem
serverCert = $SPLUNK_HOME/{{ splunk_cert_path }}/forwarder.pem
{% endif %}
