[ansible-output]
REGEX = ansible-(.*)
# We want to anonymize Ansible command output in log events as it is
# logging passwords in Splunk index (See https://openedx.atlassian.net/browse/OPS-3241).
FORMAT = ansible-output: Anonymized for security.#########################
DEST_KEY = _raw
