[settings]
{% if SPLUNK_WEB_TLS_CERT %}
enableSplunkWebSSL = false
{% else %}
enableSplunkWebSSL = true
privKeyPath = $SPLUNK_HOME/{{ splunk_cert_path }}/web.key
serverCert = $SPLUNK_HOME/{{ splunk_cert_path }}/web.crt
{% endif %}
