[settings]
enableSplunkWebSSL = 0
{% if SPLUNK_PROXY_ENABLED %}
tools.proxy.on = true
tools.proxy.base = {{ SPLUNK_PROXY_URL }}

# If set to "0", prevents the application server from
# being run from splunkd. Instead, Splunk Web starts as
# a separate python-based service which directly listens to the
# httpport. This is how Splunk 6.1.X and earlier behaved.

# If you dont set this - putting splunk behind a proxy that terminates TLS will not work, as it will complain about strict SSO Mode being set
# even if you set SSOMode = permissive
appServerPorts = 0
{% endif %}
