# Note: If you do not enter the tsm_admin_pass or the
# tableau_server_admin_pass in this file, you will be prompted to enter this
# information during installation. However, you must enter the account names
# for tsm_admin_user and tableau_server_admin_user.
# Credentials for the account that is running the automated-installer script.
# This account will be added to the 'tsmadmin' group. The 'tsmadmin' group is
# created during the Tableau installation process. Members of the 'tsmadmin'
# group can run TSM commands.
#
tsm_admin_user="{{ TABLEAU_ADMIN_USER }}"
tsm_admin_pass="{{ TABLEAU_ADMIN_PASSWORD }}"

# Enter a username and password to create the initial Tableau administrator
# account. This account will be created in Tableau Server by the installation
# process and will have Tableau Server administrator rights. The user account
# will be local to Tableau Server and will not be a Linux OS account. If you
# are using LDAP or AD for authentication, then the account you specify for
# the Tableau administrator must be a valid account from the directory service.
#
tableau_server_admin_user="{{ TABLEAU_SERVER_ADMIN_USER }}"
tableau_server_admin_pass="{{ TABLEAU_SERVER_ADMIN_PASSWORD }}"
