# {{ ansible_managed }}

description "Comments Service"

start on runlevel [2345]
stop on runlevel [!2345]

env PID=/var/tmp/comments_service.pid

chdir {{ forum_code_dir }}

script
  . {{forum_home}}/forum_env
  {{forum_home}}/.rbenv/shims/ruby app.rb

end script