#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ forum_app_dir }}/devstack_forum_env
COMMAND=$1

case $COMMAND in
    start)
        /edx/app/supervisor/venvs/supervisor/bin/supervisord -n --configuration /edx/app/supervisor/supervisord.conf
        ;;
    open)
        cd {{ forum_code_dir }}

        /bin/bash
        ;;
    exec)
        shift

        cd {{ forum_code_dir }}

        "$@"
        ;;
    *)
        "$@"
        ;;
esac
