export MONGOHQ_USER=cs_comments_service
export MONGOHQ_PASS=password 
export RACK_ENV=development
export SINATRA_ENV=development
export API_KEY=tX5Dslg1y3OsCpFzRq
export SEARCH_SERVER=http://localhost:9200 
export MONGOHQ_URL=mongodb://cs_comments_service:password@localhost:27017/cs_comments_service