# Keys from github
{% for github_key in github_keys.results -%}
  {# None is lowercase in jinja... #}
  {%- if github_key.changed -%}
    {%- if github_key.item.name == item.name -%}
      {{ github_key.stdout }}
    {%- endif -%}
  {%- endif -%}
{% endfor %}

{% if item.get('authorized_keys') %}
# Explicitly specified keys
{{ '\n'.join(item.authorized_keys) }}
{% endif %}
