---
{% include 'roles/ansible-role/templates/header.j2' %}
#
# Role includes for role {{ my_role_name }}
# 
# Example:
#
# dependencies:
#   - {
#   role: my_role 
#   my_role_var0: "foo"
#   my_role_var1: "bar"
# }
