{% if MFE_MAX_WEBSERVER_UPLOAD %}
  client_max_body_size {{ MFE_MAX_WEBSERVER_UPLOAD }}M;
{% endif %}
{% if MFE_NGINX_READ_TIMEOUT %}
    proxy_read_timeout {{ MFE_NGINX_READ_TIMEOUT }};
{% endif %}

    add_header 'Access-Control-Allow-Origin' '*';
