  root {{ MFE_CODE_DIR }}/dist/;
  location /  {

      # Inform downstream caches to take certain headers into account when reading/writing to cache.
      add_header 'Vary' 'Accept-Encoding,Origin';

      try_files $uri /index.html;
 }
