{% for command in item.value.sudo_commands %}
{% if "python_prefix" in command and command.python_prefix != "" -%}
{{ item.key }} ALL=({{ command.sudo_user }}) SETENV:NOPASSWD:{{ command.python_prefix }} {{ command.command | replace('\'', '') }}
{% endif %}
{{ item.key }} ALL=({{ command.sudo_user }}) SETENV:NOPASSWD:{{ command.command | replace('\'', '') }}
{% endfor %}
