#include <tunables/global>

/usr/bin/python-sandbox {
  #include <abstractions/base>

  /usr/bin/python-sandbox mr,
  /usr/include/python2.7/** r,
  /usr/local/lib/python2.7/** r,
  /usr/lib/python2.7** rix,

  /tmp/** rix,
}

