#include <tunables/global>

{{ xserver_venv_sandbox_dir }}/bin/python {
  #include <abstractions/base>
 {{ xserver_venv_sandbox_dir }}/bin/python  mr,
 {{ xserver_venv_sandbox_dir }}/** r,
 {{ xserver_code_dir }}/sandbox/** r,
  /tmp/grader-* wrix,
  /usr/include/python2.7/** r,
  /usr/local/lib/python2.7/** r,
  /usr/lib/python2.7** rix,

  /tmp/** rix,
}

