---
{{ vars | to_nice_yaml }}

# Override these variables to update your repo by using local mirror

COMMON_PYPI_MIRROR_URL: 'https://pypi.python.org/simple'

# do not include http/https

COMMON_GIT_MIRROR: 'github.com'
