# This file contains a redacted version of our edx-configs
# server-vars.yml file with only the necessary variables for the
# ANSIBLE_CMD command in cert_agent to be able to run.
#
# NOTE: Take care not to define any variables for which the defaults have
# not been overwritten in edx-configs server-vars.yml because the templating
# will fail otherwise

# letsencrypt vars
letsencrypt_email: "{{ letsencrypt_email }}"
letsencrypt_run: true
letsencrypt_webserver_sites_available: "{{ letsencrypt_webserver_sites_available }}"
letsencrypt_https_redirect: "{{ letsencrypt_https_redirect }}"
letsencrypt_webroot: "{{ letsencrypt_webroot }}"
letsencrypt_webuser: "{{ letsencrypt_webuser }}"

# Cert agent vars
# TODO

# NGINX stuff
EDXAPP_LMS_NGINX_PORT: "{{ EDXAPP_LMS_NGINX_PORT }}"
NGINX_ENABLE_SSL: "{{ NGINX_ENABLE_SSL }}"
EDXAPP_LMS_SSL_NGINX_PORT: "{{ EDXAPP_LMS_SSL_NGINX_PORT }}"
NGINX_REDIRECT_TO_HTTPS: "{{ NGINX_REDIRECT_TO_HTTPS }}"
NGINX_SET_X_FORWARDED_HEADERS: "{{ NGINX_SET_X_FORWARDED_HEADERS }}"
NGINX_ROBOT_RULES: "{{ NGINX_ROBOT_RULES }}"
