#!/usr/bin/env bash

# pull from master branch of the theme
cd {{ edxapp_theme_dir }}/{{ edxapp_theme_name }}
git pull origin master

# compinle assets
sudo -u edxapp bash
source {{ edxapp_app_dir }}/edxapp_env
cd {{ edxapp_code_dir }}
SERVICE_VARIANT=lms rake lms:gather_assets:aws
SERVICE_VARIANT=cms rake cms:gather_assets:aws
