"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ mcka_apros_gunicorn_timeout }}
bind = "{{ mcka_apros_gunicorn_host }}:{{ mcka_apros_gunicorn_port }}"
pythonpath = "{{ mcka_apros_code_dir }}"
workers = {{ MCKA_APROS_WORKERS }}
{% if MCKA_APROS_GUNICORN_MAX_REQUESTS -%}
max_requests = {{ MCKA_APROS_GUNICORN_MAX_REQUESTS }}
{% endif -%}

{{ MCKA_APROS_GUNICORN_EXTRA_CONF }}

{{ common_pre_request }}
