client_id: {{ RETIREMENT_SERVICE_EDX_OAUTH2_KEY }}
client_secret: {{ RETIREMENT_SERVICE_EDX_OAUTH2_SECRET }}

base_urls:
    lms: {{ RETIREMENT_LMS_BASE_URL }}
    ecommerce: {{ RETIREMENT_ECOMMERCE_BASE_BASE_URL }}
    credentials: {{ RETIREMENT_CREDENTIALS_BASE_URL }}

retirement_pipeline:
  {% for item in RETIREMENT_SERVICE_PIPELINE_CONFIGURATION %}
  - ['{{ item.NAME }}', '{{ item.NAME_COMPLETE }}', '{{ item.SERVICE }}', '{{ item.FUNCTION }}']
  {% endfor %}
