#
# {{ ansible_managed }}
#
[program:{{ veda_pipeline_worker_service_name }}_{{ item }}]

command={{ veda_pipeline_worker_home }}/{{ veda_pipeline_worker_service_name }}_{{ item }}.sh
user={{ common_web_user }}
directory={{ veda_pipeline_worker_code_dir }}
stdout_logfile={{ supervisor_log_dir }}/%(program_name)s-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)s-stderr.log
killasgroup=true
stopasgroup=true
