#!/bin/bash
source {{ xqueue_app_dir }}/xqueue_env
cd {{ xqueue_code_dir }}

exec {{xqueue_venv_bin}}/django-admin.py run_consumer --pythonpath={{xqueue_code_dir}} --settings=xqueue.aws_settings $WORKERS_PER_QUEUE
