#!/usr/bin/env bash
#
# Display the head commit for all our git repos

# Look in .git directories. Only two levels down to avoid virtualenvs.

for d in {{ COMMON_APP_DIR }}/*/*/.git; do
    d=$(dirname $d)
    echo "---- $d ----"
    git -C $d log -1 --format='%ci (%h) %cn: %s %d'
done
