[Credentials]
gs_service_key_file = {{ BACKUPS_GS_SERVICE_KEY_FILE }}
gs_service_client_id = {{ BACKUPS_GS_SERVICE_CLIENT_ID }}
gs_service_key_file_password = {{ BACKUPS_GS_SERVICE_KEY_FILE_PASSWORD }}

[Boto]
https_validate_certificates = True

[GSUtil]
content_language = en
default_api_version = 2
default_project_id = {{ BACKUPS_GS_DEFAULT_PROJECT_ID }}
