"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ edx_django_service_with_rendered_config_with_rendered_config_gunicorn_timeout }}
bind = "{{ edx_django_service_with_rendered_config_gunicorn_host }}:{{ edx_django_service_with_rendered_config_gunicorn_port }}"
pythonpath = "{{ edx_django_service_with_rendered_config_code_dir }}"
workers = {{ edx_django_service_with_rendered_config_gunicorn_workers }}
worker_class = "{{ edx_django_service_with_rendered_config_gunicorn_worker_class }}"

{% if edx_django_service_with_rendered_config_gunicorn_max_requests -%}
max_requests = {{ edx_django_service_with_rendered_config_gunicorn_max_requests }}
{% endif %}

{{ edx_django_service_with_rendered_config_gunicorn_extra_conf }}

{{ common_pre_request }}
