{{ xserver_sandbox_user }}       hard   core  0
{{ xserver_sandbox_user }}       hard   data  100000
{{ xserver_sandbox_user }}       hard   fsize 10000
{{ xserver_sandbox_user }}       hard   memlock 10000
{{ xserver_sandbox_user }}       hard   nofile 20
{{ xserver_sandbox_user }}       hard   rss    10000
{{ xserver_sandbox_user }}       hard   stack  100000
{{ xserver_sandbox_user }}       hard   cpu    0
{{ xserver_sandbox_user }}       hard   nproc  8
{{ xserver_sandbox_user }}       hard   as     32000
{{ xserver_sandbox_user }}       hard   maxlogins  1
{{ xserver_sandbox_user }}       hard   priority  19
{{ xserver_sandbox_user }}       hard   locks     4
{{ xserver_sandbox_user }}       hard   sigpending  100
{{ xserver_sandbox_user }}       hard   msgqueue  100000
{{ xserver_sandbox_user }}       hard   nice     19
