// we only ever connect to secondaries, avoid people needing to remember to type this
rs.slaveOk();

// This uses the DB name rather than the replica set, which I think is more useful
var prompt = function() {
    return db.getName() + "> ";
}
