#!/usr/bin/env bash

set -e

usage="Usage: edx-analytics-hadoop.sh [start|stop|restart]"

function start() {
    start-dfs.sh
    start-yarn.sh
}

function stop() {
    stop-dfs.sh
    stop-yarn.sh
}

function restart() {
	stop
	start
}

case ${1-} in
  start)
        start
        ;;
  stop)
        stop
        ;;
  restart)
        restart
        ;;
  *)
        echo $usage
        exit 1
        ;;
esac
