{% do HDFS_SITE_DEFAULT_CONFIG.update(HDFS_SITE_EXTRA_CONFIG) %}
<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
{% for key, value in HDFS_SITE_DEFAULT_CONFIG.items() %}
  <property>
    <name>{{ key }}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
</configuration>
