{% do MAPRED_SITE_DEFAULT_CONFIG.update(mapred_site_config) %}
<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
{% for key, value in MAPRED_SITE_DEFAULT_CONFIG.items() %}
  <property>
    <name>{{ key }}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
</configuration>
