{% do YARN_SITE_DEFAULT_CONFIG.update(yarn_site_config) %}
<?xml version="1.0"?>
<configuration>
{% for key, value in YARN_SITE_DEFAULT_CONFIG.items() %}
  <property>
    <name>{{ key }}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
</configuration>
