#!/usr/bin/env bash

# {{ ansible_managed }}

{% set veda_delivery_worker_venv_bin = veda_delivery_worker_home + '/venvs/' + veda_delivery_worker_service_name + '/bin' %}
{% set executable = veda_delivery_worker_venv_bin + '/python' %}

source {{ veda_delivery_worker_home }}/{{ veda_delivery_worker_service_name }}_env
{{ executable }} {{ veda_delivery_worker_home }}/{{ veda_delivery_worker_service_name }}/bin/deliver
