[program:ora]

command={{ ora_venv_bin }}/gunicorn -c {{ ora_app_dir }}/ora_gunicorn.py {{ ORA_GUNICORN_EXTRA }} edx_ora.wsgi

user={{ common_web_user }}
directory={{ ora_code_dir }}

environment=PID=/var/run/gunicorn/edx-ora.pid,WORKERS={{ ora_gunicorn_workers }},PORT={{ ora_gunicorn_port }},ADDRESS={{ ora_gunicorn_host }},LANG={{ ORA_LANG }},DJANGO_SETTINGS_MODULE=edx_ora.aws,SERVICE_VARIANT=ora

stdout_logfile={{ supervisor_log_dir }}/%(program_name)-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)-stderr.log
killasgroup=true
stopasgroup=true

