#!/usr/bin/env bash
if ! id -u {{ supervisor_user }} &>/dev/null; then useradd -M -s /bin/false {{ supervisor_user }}; fi
if ! id -u {{ supervisor_user }} &>/dev/null; then useradd -M -s /bin/false {{ supervisor_service_user }}; fi
