#!/usr/bin/env bash

echo "Creating supervisor data and log directories"

mkdir -p {{ supervisor_data_dir }}
chown {{ common_web_user }}:{{ common_web_user }} {{ supervisor_data_dir }}

mkdir -p {{ supervisor_log_dir }}
chown {{ common_web_user }}:{{ supervisor_user }} {{ supervisor_log_dir }}

mkdir -p {{ nginx_log_dir }}
chown {{ common_web_user }}:{{ common_web_user }} {{ nginx_log_dir }}

service supervisor stop 2>/dev/null
service supervisor start
service nginx restart
