TrackingLogVoter:
  config:
    aws_profile: !!null
    local_directory: '{{ COMMON_LOG_DIR }}/tracking'
    s3_bucket: '{{ COMMON_OBJECT_STORE_LOG_SYNC_BUCKET }}'
    bucket_path_prefix: 'logs/tracking'
