{% for deployment, creds in JENKINS_ADMIN_AWS_CREDENTIALS.iteritems() %}
[profile {{deployment}}]
aws_access_key_id = {{ creds.ACCESS_ID }}
aws_secret_access_key = {{ creds.SECRET_KEY }}

{% endfor %}
