<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.s3.S3BucketPublisher_-DescriptorImpl plugin="s3@0.5">
  <profiles>
    <hudson.plugins.s3.S3Profile>
      <name>{{ JENKINS_ADMIN_S3_PROFILE.name }}</name>
      <accessKey>{{ JENKINS_ADMIN_S3_PROFILE.access_key }}</accessKey>
      <secretKey>{{ JENKINS_ADMIN_S3_PROFILE.secret_key }}</secretKey>
    </hudson.plugins.s3.S3Profile>
  </profiles>
</hudson.plugins.s3.S3BucketPublisher_-DescriptorImpl>
