{% do HIVE_SITE_DEFAULT_CONFIG.update(HIVE_SITE_EXTRA_CONFIG) %}
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
{% for key, value in HIVE_SITE_DEFAULT_CONFIG.items() %}
  <property>
    <name>{{ key }}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
</configuration>
