Module Variables ("vars"):
--------------------------------
{{ vars | to_nice_json }}

Environment Variables ("environment"):
--------------------------------
{{ environment | to_nice_json }}

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}

HOST Variables ("hostvars"):
--------------------------------
{{ hostvars | to_nice_json }}

{% if lms_env_config %}
LMS env variables:
---------------
{{ lms_env_config | to_nice_json }}
{% endif %}

{% if lms_auth_config %}
LMS auth variables:
---------------
{{ lms_auth_config | to_nice_json }}
{% endif %}

{% if lms_preview_env_config %}
Preview env variables:
---------------
{{ lms_preview_env_config | to_nice_json }}
{% endif %}

{% if lms_preview_auth_config %}
Preview auth variables:
---------------
{{ lms_preview_auth_config | to_nice_json }}
{% endif %}

{% if cms_env_config %}
CMS env variables:
---------------
{{ cms_env_config | to_nice_json }}
{% endif %}

{% if cms_auth_config %}
CMS auth variables:
---------------
{{ cms_auth_config | to_nice_json }}
{% endif %}
