---
{% include 'roles/ansible-role/templates/header.j2' %}

#
# Tasks for role {{ my_role_name }}
# 
# Overview:
# 
#
# Dependencies:
#
# 
# Example play:
#
#

- name: stub ansible task
  debug: msg="This is a stub task created by the ansible-role role"
  notify: notify me
