[defaults]

jinja2_extensions=jinja2.ext.do
host_key_checking = False
roles_path=../roles
callback_plugins=../callback_plugins
ansible_managed=This file is created and updated by ansible, edit at your peril
