{{ mongo_log_dir }}/serverStatus.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
}

{% if is_backup_node %}
{{ mongo_log_dir }}/mongo-backup.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
}
{% endif %}

{{ mongo_log_dir }}/mongodb.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
  postrotate
    /usr/bin/killall -USR1 mongod
  endscript
}
