# {{ ansible_managed }}
export RBENV_ROOT="{{ rbenv_root }}"
export RBENV_ROOT: "{{ rbenv_root }}"
export GEM_ROOT: "{{ rbenv_gem_root }}"
export GEM_HOME: "{{ rbenv_gem_root }}"
export PATH="{{ rbenv_bin }}:{{ rbenv_shims }}:{{ rbenv_gem_bin }}:/bin/:$PATH"
eval "$(rbenv init -)"
