# {{ ansible_managed }}

#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ elasticsearch_data_dir }}

#
# Path to log files:
#
path.logs: {{ elasticsearch_log_dir }}

#
# Lock the memory on startup:
#
bootstrap.memory_lock: true

script.inline: false
script.stored: false

{% if ELASTICSEARCH_CLUSTER_MEMBERS|length > 1 -%}

discovery.zen.ping.unicast.hosts: ['{{ELASTICSEARCH_CLUSTER_MEMBERS|join("\',\'") }}']

{% endif -%}
{% if vagrant_cluster|bool %}
network:
  host: {{ ansible_ssh_host }}
{% endif %}

http.port: {{ elasticsearch_port}}
