#!/usr/bin/env bash

# {{ ansible_managed }}

source {{ veda_encode_worker_home }}/{{ veda_encode_worker_service_name }}_env
source {{ veda_encode_worker_home }}/{{ veda_encode_worker_service_name }}/worker.sh
