msgid ""
msgstr ""
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Language: {{ item.lang }}\n"
{% if 'headers' in item -%}
{{ item.headers }}
{%- endif %}

{% if 'messages' in item -%}
{{ item.messages }}
{%- endif %}
