#!/usr/bin/env bash

# {{ ansible_managed }}

{% set veda_intake_worker_venv_bin = veda_intake_worker_home + '/venvs/' + veda_intake_worker_service_name + '/bin' %}
{% set executable = veda_intake_worker_venv_bin + '/python' %}

source {{ veda_intake_worker_home }}/{{ veda_intake_worker_service_name }}_env
{{ executable }} {{ veda_intake_worker_home }}/{{ veda_intake_worker_service_name }}/bin/ingest
