init_config:
instances:
  - hosts:
      - {{ datadog_mongo_host }}:{{ datadog_mongo_port }}
    username: {{ datadog_mongo_username }}
    password: {{ datadog_mongo_password }}
    database: {{ datadog_mongo_db }}
    options:
      authSource: {{ datadog_authsource_db }}
