<?php

/* Servers configuration */
$i = 0;

/* Server: RDS [1] */
$i++;

$cfg['Servers'][$i]['host'] = '{{ MYSQL_SERVER_HOST }}';
$cfg['Servers'][$i]['port'] = '{{ MYSQL_SERVER_PORT }}';
$cfg['Servers'][$i]['socket'] = '';
$cfg['Servers'][$i]['connect_type'] = 'tcp';
$cfg['Servers'][$i]['extension'] = 'mysqli';
$cfg['Servers'][$i]['compress'] = true;
$cfg['Servers'][$i]['auth_type'] = 'cookie';
$cfg['Servers'][$i]['user'] = '';
$cfg['Servers'][$i]['password'] = '';
$cfg['Servers'][$i]['only_db'] = array({% for db in PHPMYADMIN_DBS_SHOWN %}"{{ db }}",{% endfor %});
$cfg['Servers'][$i]['controluser'] = '{{ PHPMYADMIN_CONTROLUSER }}';
$cfg['Servers'][$i]['controlpass'] = '{{ PHPMYADMIN_CONTROLPASS }}';
$cfg['Servers'][$i]['pmadb'] = '{{ PHPMYADIN_PMADB }}';
$cfg['Servers'][$i]['bookmarktable'] = 'pma_bookmark';
$cfg['Servers'][$i]['history'] = 'pma_history';

/* End of servers configuration */

$cfg['blowfish_secret'] = '{{ PHPMYADMIN_BLOWFISH_SECRET }}';
$cfg['DefaultLang'] = 'en';
$cfg['ServerDefault'] = 1;
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';
$cfg['PmaAbsoluteUri']='{{ phpmyadmin_abs_url }}';

?>