"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ blockstore_gunicorn_timeout }}
bind = "{{ blockstore_gunicorn_host }}:{{ blockstore_gunicorn_port }}"
pythonpath = "{{ blockstore_code_dir }}"
workers = {{ BLOCKSTORE_GUNICORN_WORKERS }}
worker_class = "{{ BLOCKSTORE_GUNICORN_WORKER_CLASS }}"

{% if BLOCKSTORE_GUNICORN_MAX_REQUESTS -%}
max_requests = {{ BLOCKSTORE_GUNICORN_MAX_REQUESTS }}
{% endif %}

{{ BLOCKSTORE_GUNICORN_EXTRA_CONF }}

{{ common_pre_request }}
