{{ EDXAPP_USER }} ALL=({{ EDXAPP_SANDBOX_USER }})  SETENV:NOPASSWD:{{ EDXAPP_SANDBOX_VENV_DIR }}/bin/python
{{ EDXAPP_USER }} ALL=(ALL) NOPASSWD:/bin/kill
{{ EDXAPP_USER }} ALL=(ALL) NOPASSWD:/usr/bin/pkill
