{% do cms_env_config.update(EDXAPP_ENV_EXTRA) %}
{% for key, value in cms_env_config.iteritems() -%}
  {% if value == 'None' -%}
    {% do cms_env_config.update({key: None }) %}
  {%- endif %}
{%- endfor %}
{{ cms_env_config | to_nice_json }}
