[program:cms]
{% if ansible_processor|length > 0 %}
command={{ venv_dir }}/bin/gunicorn --preload -b 127.0.0.1:{{ edxapp_cms_app_port }} -w {{ ansible_processor|length * worker_core_mult.cms }} --timeout=300 --pythonpath={{ edx_platform_code_dir }} cms.wsgi
{% else %}
command={{ venv_dir }}/bin/gunicorn --preload -b 127.0.0.1:{{ edxapp_cms_app_port }} -w {{ worker_core_mult.cms }} --timeout=300 --pythonpath={{ edx_platform_code_dir }} cms.wsgi
{% endif %}
process_name=%(program_name)s
numprocs=1
directory={{ edx_platform_code_dir }}
umask=022
autostart=true
autorestart=true
startsecs=10
startretries=3
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
user=www-data
redirect_stderr=false
stdout_logfile=/mnt/logs/cms-stdout.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB
stderr_logfile=/mnt/logs/cms-stderr.log
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=10
stderr_capture_maxbytes=1MB
environment=PID=/var/tmp/cms.pid,LANG=en_US.UTF-8,DJANGO_SETTINGS_MODULE=cms.envs.aws,SERVICE_VARIANT=cms
