{% if COMMON_ENABLE_NEWRELIC %}
export NEW_RELIC_APP_NAME={{ EDXAPP_NEWRELIC_CMS_APPNAME }}
export NEW_RELIC_LICENSE_KEY={{ NEWRELIC_LICENSE_KEY }}
{% endif -%}
export PORT={{edxapp_cms_gunicorn_port}}
export ADDRESS={{edxapp_cms_gunicorn_host}}
export LANG={{ EDXAPP_LANG }}
export DJANGO_SETTINGS_MODULE={{ edxapp_cms_env }}
export SERVICE_VARIANT="cms"
if [[ -f "{{ COMMON_CFG_DIR }}/cms.cfg" ]]; then
  source  {{ COMMON_CFG_DIR }}/cms.cfg
fi
