#include <tunables/global>

{{ edxapp_sandbox_venv_dir }}/bin/* {
    #include <abstractions/base>

    {{ edxapp_sandbox_venv_dir }}/** mr,
    {{ edxapp_code_dir }}/common/lib/sandbox-packages/** r,
    /tmp/codejail-*/ rix,
    /tmp/codejail-*/** wrix,

    #
    # Whitelist particular shared objects from the system
    # python installation
    #
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_json.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_ctypes.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_heapq.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_io.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_csv.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/datetime.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/_elementtree.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/pyexpat.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/future_builtins.so mr,

    # Matplot lib  needs a place for temp caches
    {{ edxapp_sandbox_venv_dir }}/.config/ wrix,
    {{ edxapp_sandbox_venv_dir }}/.cache/ wrix,
    {{ edxapp_sandbox_venv_dir }}/.config/** wrix,
    {{ edxapp_sandbox_venv_dir }}/.cache/** wrix,

    # Matplotlib related libraries
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/termios.so mr,
    /usr/lib/{{ edxapp_sandbox_python_version }}/lib-dynload/parser.so mr,

    # Matplot lib needs fonts to make graphs
    /usr/share/fonts/ r,
    /usr/share/fonts/** r,
    /usr/local/share/fonts/ r,
    /usr/local/share/fonts/** r,

    #
    # Allow access to selections from /proc
    #
    /proc/*/mounts r,

}
