#include <tunables/global>

{{ edxapp_sandbox_venv_dir }}/bin/python flags=(complain) {
    #include <abstractions/base>

    {{ edxapp_sandbox_venv_dir }}/** mr,
    {{ edxapp_code_dir }}/common/lib/sandbox-packages/** r,
    /tmp/codejail-*/ rix,
    /tmp/codejail-*/** rix,

    #
    # Whitelist particiclar shared objects from the system
    # python installation
    #
    /usr/lib/python2.7/lib-dynload/_json.so mr,
    /usr/lib/python2.7/lib-dynload/_ctypes.so mr,
    /usr/lib/python2.7/lib-dynload/_heapq.so mr,
    /usr/lib/python2.7/lib-dynload/_io.so mr,
    /usr/lib/python2.7/lib-dynload/_csv.so mr,
    /usr/lib/python2.7/lib-dynload/datetime.so mr,
    /usr/lib/python2.7/lib-dynload/_elementtree.so mr,

    #
    # Allow access to selections from /proc
    #
    /proc/*/mounts r,

}
