# edx workers
# managed by puppet

description "start edX app workers"

start on runlevel [2345]
stop on runlevel [!2345]

pre-start script

   start cms QUEUE=low CONCURRENCY=1 SERVICE_VARIANT=cms
   start cms QUEUE=default CONCURRENCY=3 SERVICE_VARIANT=cms
   start cms QUEUE=high CONCURRENCY=4 SERVICE_VARIANT=cms

   start lms QUEUE=low CONCURRENCY=1 SERVICE_VARIANT=lms
   start lms QUEUE=default CONCURRENCY=3 SERVICE_VARIANT=lms
   start lms QUEUE=high CONCURRENCY=4 SERVICE_VARIANT=lms

   start lms-xml QUEUE=low CONCURRENCY=1 SERVICE_VARIANT=lms-xml
   start lms-xml QUEUE=default CONCURRENCY=3 SERVICE_VARIANT=lms-xml
   start lms-xml QUEUE=high CONCURRENCY=4 SERVICE_VARIANT=lms-xml

end script
