# gunicorn
# Templated and placed by ansible from jinja2 source
description "lms-xml gunicorn server"

start on started edxapp
stop on stopped edxapp

respawn
respawn limit 3 30

env PID=/var/tmp/lms-xml.pid
#env NEW_RELIC_CONFIG_FILE={{app_base_dir}}/newrelic.ini
#env NEWRELIC={{venv_dir}}/bin/newrelic-admin
{% if ansible_processor|length > 0 %}
env WORKERS={{ ansible_processor|length * worker_core_mult.lms_xml }}
{% else %}
env WORKERS={{ worker_core_mult.lms_xml }}
{% endif %}
env PORT={{edxapp_lms_xml_app_port}}
env LANG=en_US.UTF-8
env DJANGO_SETTINGS_MODULE=lms.envs.aws
env SERVICE_VARIANT="lms-xml"

chdir {{edx_platform_code_dir}}
setuid www-data

exec {{venv_dir}}/bin/gunicorn --preload -b 127.0.0.1:$PORT -w $WORKERS --timeout=300 --pythonpath={{edx_platform_code_dir}}  lms.wsgi

post-start script
  while true
  do
    if $(curl -s -i localhost:$PORT/heartbeat | egrep -q '200 OK'); then
      break;
    else
      sleep 1;
    fi
  done
end script
