#!/usr/bin/env bash

# {{ ansible_managed }}

{% if COMMON_ENABLE_NEWRELIC_APP %}
{% set executable = edxapp_venv_bin + '/newrelic-admin run-program ' + edxapp_venv_bin + '/gunicorn' %}
{% else %}
{% set executable = edxapp_venv_bin + '/gunicorn' %}
{% endif %}

source {{ EDXAPP_LMS_ENV_FILE }}
{{ executable }} -c {{ edxapp_app_dir }}/lms_gunicorn.py lms.wsgi
