"""
gunicorn configuration file: http://docs.gunicorn.org/en/stable/configure.html

{{ ansible_managed }}
"""
import multiprocessing

preload_app = False
timeout = {{ EDXAPP_LMS_GUNICORN_TIMEOUT }}
bind = "{{ edxapp_lms_gunicorn_host }}:{{ edxapp_lms_gunicorn_port }}"
pythonpath = "{{ edxapp_code_dir }}"
limit_request_field_size = 16384

{% if EDXAPP_LMS_MAX_REQ -%}
max_requests = {{ EDXAPP_LMS_MAX_REQ }}
{% endif -%}

{% if EDXAPP_WORKERS %}
workers = {{ EDXAPP_WORKERS.lms }}
{% else %}
workers = (multiprocessing.cpu_count()-1) * {{ worker_core_mult.lms }} + {{ worker_core_mult.lms }}
{% endif %}

{{ common_pre_request }}

{{ common_close_all_caches }}

def post_fork(server, worker):
    close_all_caches()

{{ EDXAPP_LMS_GUNICORN_EXTRA_CONF }}
