{% if COMMON_ENABLE_NEWRELIC %}
export NEW_RELIC_APP_NAME={{ EDXAPP_NEWRELIC_LMS_APPNAME }}
export NEW_RELIC_LICENSE_KEY={{ NEWRELIC_LICENSE_KEY }}
{% endif -%}
export PORT={{edxapp_lms_gunicorn_port}}
export ADDRESS={{edxapp_lms_gunicorn_host}}
export LANG={{ EDXAPP_LANG }}
export DJANGO_SETTINGS_MODULE={{ edxapp_lms_env }}
export SERVICE_VARIANT="lms"
if [[ -f "{{ COMMON_CFG_DIR }}/lms.cfg" ]]; then
  source  {{ COMMON_CFG_DIR }}/lms.cfg
fi
