# ---------------------------------------------------------------------------
# edX Note
#
# New Relic allows us to specify the Python Agent config options in a number of
# places. For most functionality, you can get away with a combination of
# environment variables (see the lms.conf.j2 in the configuration repo) and New
# Relic's server-side configuration (the "settings" on your app in their
# monitoring web interface). That being said, some advanced settings can only
# be set in this file or manually in code. That's why this config file is so
# bare -- it specifies only what you *can't* specify in the other two places.
#
# Note that you can always get an up to date snapshot of your combined config
# by going to New Relic's web interface and selecting your app's:
#   Settings > Environment > Agent Initialization

[newrelic]

# Turns on or turns off all attributes for browser monitoring. This is the data
# that gets sent to the PageView destination in New Relic Insights. If
# attributes.enabled is false, no attributes will be sent to browser monitoring
# regardless of how this configuration setting is set.
#
# Enabling browser_monitoring.attributes.enabled=true means that we can add a
# custom parameter in our Python code via newrelic.agent.add_custom_parameter()
# and have that show up in PageViews (by default, it only shows up in
# Transactions). This lets us do things like facet front end load time by
# `course_id`.
#
browser_monitoring.attributes.enabled=true
