"""
gunicorn configuration file: http://docs.gunicorn.org/en/develop/configure.html
{{ ansible_managed }}
"""

timeout = {{ edx_django_service_gunicorn_timeout }}
bind = "{{ edx_django_service_gunicorn_host }}:{{ edx_django_service_gunicorn_port }}"
pythonpath = "{{ edx_django_service_code_dir }}"
workers = {{ edx_django_service_gunicorn_workers }}
worker_class = "{{ edx_django_service_gunicorn_worker_class }}"

{{ edx_django_service_gunicorn_extra_conf }}
