# {{ ansible_managed }}
{% for name,value in edx_django_service_environment.items() -%}
{%- if ( (edx_django_service_is_devstack is sameas true) and
        ('_CFG' in name))
-%}
export REGISTRAR_CFG="/edx/app/registrar/registrar/registrar/settings/registrar.yml"
{%- else -%}
export {{ name }}="{{ value }}"
{% endif %}
{%- endfor %}

