description     "supervisord"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ supervisor_service_user }}
exec {{ supervisor_venv_dir }}/bin/supervisord --nodaemon --configuration {{ supervisor_cfg }}
