#!/bin/bash

source {{ notifier_app_dir }}/notifier_env
cd {{ NOTIFIER_CODE_DIR }}

export PID='/var/tmp/notifier-scheduler.pid'
export LANG=en_US.UTF-8

{{ NOTIFIER_VENV_DIR }}/bin/python manage.py celery worker -l {{ NOTIFIER_LOG_LEVEL }}

