{
    "loggers": {
            "": {
                "handlers": ["console"],
                "level": "{{ xqwatcher_log_level }}"
            },
            "requests": {
                "level": "{{ xqwatcher_requests_log_level }}",
                "handlers": ["console"]
            }
    },
    "version": 1,
    "handlers": {
        "console": {
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "formatter": "standard"
        }
    },
    "formatters": {
        "raw": {
            "format": "%(message)s"
        },
        "standard": {
            "format": "%(asctime)s %(levelname)s %(process)d [%(name)s] %(filename)s:%(lineno)d - %(message)s"
        }
    }
}