{{ COMMON_LOG_DIR }}/tracking.log {
  create
  compress
  delaycompress
  dateext
  missingok
  notifempty
  daily
  rotate 365000
  size 1M
  {% if COMMON_S3_LOGS -%}
  sharedscripts
  postrotate
    bash /edx/bin/send-logs-to-s3 "/edx/var/log/*tracking*"  s3://{{ COMMON_S3_LOGS_TRACKING_BUCKET }}
  endscript
  {% endif -%}

}
