{{ COMMON_LOG_DIR }}/*/edx.log {
  create
  compress
  copytruncate
  delaycompress
  dateext
  missingok
  notifempty
  daily
  rotate 90
  size 1M
  {% if COMMON_S3_LOGS -%}
  sharedscripts
  postrotate
    {% include s3-application.j2 %}
  endscript
  {% endif -%}
}
