        # wildcard expansion is fine, brace expansion won't work
        # http://stackoverflow.com/questions/369145/how-to-glob-variables-in-bash-script
        bash /edx/bin/send-logs-to-s3 "/var/log/mail*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/daemon*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/kern*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/auth*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/user*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/lpr*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/cron*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/debug*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}
        bash /edx/bin/send-logs-to-s3 "/var/log/messages*"  s3://{{ COMMON_S3_LOGS_APP_BUCKET }}

