GO_SERVER={{ GO_AGENT_SERVER_IP }}
export GO_SERVER
GO_SERVER_PORT={{ GO_AGENT_SERVER_PORT }}
export GO_SERVER_PORT
AGENT_WORK_DIR=/var/lib/${SERVICE_NAME:-go-agent}
export AGENT_WORK_DIR
DAEMON=Y
VNC=N
export JAVA_HOME="{{ GO_AGENT_ORACLEJDK_LINK }}"