start on stopped supervisor
description     "sync tracking logs on supervisor shutdown"
script
        /usr/sbin/logrotate -f /etc/logrotate.d/hourly/tracking.log
        /usr/sbin/logrotate -f /etc/logrotate.d/hourly/edx-services
end script
