{{ mongo_log_dir }}/* {
  create
  compress
  copytruncate
  delaycompress
  dateext
  dateformat -%Y%m%d-%s
  missingok
  notifempty
  daily
  rotate 90
  size 1M
  postrotate
    /usr/bin/killall -USR1 mongod
  endscript
}
