{% if 'ganglia_monitored' in groups and inventory_hostname in groups.ganglia_monitored %}
dfs.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
dfs.period=10
dfs.servers={{ groups.ganglia_collector[0] }}:8649

mapred.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
mapred.period=10
mapred.servers={{ groups.ganglia_collector[0] }}:8649

jvm.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
jvm.period=10
jvm.servers={{ groups.ganglia_collector[0] }}:8649

rpc.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
rpc.period=10
rpc.servers={{ groups.ganglia_collector[0] }}:8649

ugi.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
ugi.period=10
ugi.servers={{ groups.ganglia_collector[0] }}:8649
{% else %}
dfs.class=org.apache.hadoop.metrics.spi.NullContext
mapred.class=org.apache.hadoop.metrics.spi.NullContext
rpc.class=org.apache.hadoop.metrics.spi.NullContext
ugi.class=org.apache.hadoop.metrics.spi.NullContext
{% endif %}
