hdfs-agent.sources= http-collect
hdfs-agent.sinks = hdfs-write
hdfs-agent.channels= memoryChannel

hdfs-agent.sources.http-collect.type = http
hdfs-agent.sources.http-collect.channels = memoryChannel
hdfs-agent.sources.http-collect.bind = 0.0.0.0
hdfs-agent.sources.http-collect.port = 49010

hdfs-agent.sinks.hdfs-write.type = hdfs
hdfs-agent.sinks.hdfs-write.channel = memoryChannel
hdfs-agent.sinks.hdfs-write.hdfs.path = hdfs://localhost:9000/data/logs/
hdfs-agent.sinks.hdfs-write.hdfs.filePrefix = tracking.log-%Y%m%d
hdfs-agent.sinks.hdfs-write.hdfs.codeC = gzip
hdfs-agent.sinks.hdfs-write.hdfs.fileType = CompressedStream
hdfs-agent.sinks.hdfs-write.hdfs.writeFormat = Text
hdfs-agent.sinks.hdfs-write.hdfs.rollInterval = 600

hdfs-agent.channels.memoryChannel.type = memory
hdfs-agent.channels.memoryChannel.capacity=10000
