export OS_USERNAME='{{ SWIFT_LOG_SYNC_USERNAME }}'
export OS_PASSWORD='{{ SWIFT_LOG_SYNC_PASSWORD }}'
export OS_TENANT_ID='{{ SWIFT_LOG_SYNC_TENANT_ID }}'
export OS_TENANT_NAME='{{ SWIFT_LOG_SYNC_TENANT_NAME }}'
export OS_AUTH_URL='{{ SWIFT_LOG_SYNC_AUTH_URL }}'
export OS_REGION_NAME='{{ SWIFT_LOG_SYNC_REGION_NAME }}'
