# Please make sure to update the license_key information with the license key for your New Relic
# account.
#
newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: {{ NEWRELIC_LICENSE_KEY }}
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  # verbose: 1

  # Proxy configuration:
  #proxy:
  #  address: localhost
  #  port: 8080
  #  user: nil
  #  password: nil

# Agent Configuration:
#
agents:
  s3:
    s3_access_key_id: {{ S3_ACCESS_KEY_ID }}
    s3_secret_access_key: {{ S3_SECRET_ACCESS_KEY }}
    s3_bucket_name: {{ S3_BUCKET_NAME }}
    s3_region: {{ AWS_REGION }}
    s3_cmd_config_file: {{ S3_CONFIG_FILENAME }}
